<a href="https://colab.research.google.com/github/SonsuGit/BackendOrmi/blob/main/deep_dive_python_by_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# colab 사용법 written by sonsugit

* MAC을 사용하는 경우 Ctrl 대신 Command입니다. Alt 대신 Option입니다.
1. **실행 단축키**
    1. (필수) `Ctrl(Command)` + `Enter` : 해당 셀 실행
    2. `Shift` + `Enter` : 해당 셀 실행 + 커서를 다음 셀로 이동
    3. (필수) `Alt(Option)` + `Enter` : 해당 셀 실행 + 코드 불록 하단 추가
2. **셀 삽입/삭제 관련 단축키**
    1. `Ctrl(Command)` + M A : 코드 셀 위에 삽입
    2. `Ctrl(Command)` + M B : 코드 셀 아래 삽입
    3. `Ctrl(Command)` + M D : 셀 지우기
    4. `Ctrl(Command)` + M Y : 코드 셀로 변경
    5. `Ctrl(Command)` + M M : 마크다운 셀로 변경
    6. `Ctrl(Command)` + M Z : 실행 취소
3. 수정 관련된 단축키
    1. `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 동시 수정
    2. (자주) `Ctrl(Command)` + D : 같은 단어 찾아 동시 수정
    3. `Ctrl(Command)` + `Shift` + L : 동일 단어를 전체로 찾아 동시 수정
    4. `Alt(Option)` + `Shift` + 화살표위아래 : 해당내용을 위나 아래 복사해서 붙여넣기
    5. `Alt(Option)` + 화살표위아래 : 해당 내용을 위나 아래로 보내기
    6. (자주) `Ctrl(Command)` + `Alt(Option)` + 화살표위아래 : 위아래 동시 수정
    7. (자주) Home, End : 문장의 양 끝
    8. (필수) `Ctrl` + `/` : 주석
    9. (필수) `Shift` + `Del` : 한 줄 지우기
    10. (필수) `Tab`, `Ctrl` + `]` : 들여쓰기
    11. (필수) `Shift` + `Tab`, `Ctrl` + `[` : 내어쓰기
4. 단축키 보기 및 설정
    1. `Ctrl(Command)` + M H : 단축키 모음

# 마크다운

* 필수 마크다운

    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

* 선택 마크다운(필수가 아니니 부담가지지 마세요.)

    ```
    # h1
    ## h2
    ### h3
    #### h4
    ##### h5
    ###### h6

    ---

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello

    - hello
    - hello
    - hello

    __굵게__
    **굵게**
    _기울여 쓰기_
    *기울여 쓰기*
    ~취소선~
    ~~취소선~~

    > 인용문 작성하기
    `인라인 코드는 이렇게 작성해요.`

    [인라인 링크](https://velog.io/)

    ![이미지 설명](이미지 링크)
    
    * table은 직접 만들지 마시고 https://www.tablesgenerator.com/markdown_tables 와 같은 서비스를 이용하세요.
    
    | 1 | 2     | 3 | 4 | 5     |
    |---|-------|---|---|-------|
    | 1 | hello | 3 | 4 | world |

    * [ ] hello
    * [X] hello
    ```

# Python

In [ ]:
#행 단위 주석입니다.

"""
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
"""

'''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

In [ ]:
# 아래와 같이 열단위 주석으로 text를 넣을 수도 있습니다.
data = '''
큰 따옴표로 세번 묶거나
작은따옴표로 세번 묶으면
열단위 주석이 됩니다.
'''

data

'\n큰 따옴표로 세번 묶거나\n작은따옴표로 세번 묶으면\n열단위 주석이 됩니다.\n'

* Code convention python
* https://google.github.io/styleguide/
* https://google.github.io/styleguide/pyguide.html

In [ ]:
def connect_to_next_port(self, minimum: int) -> int:
    """Connects to the next available port.

    Args:
      minimum: A port value greater or equal to 1024.

    Returns:
      The new minimum port.

    Raises:
      ConnectionError: If no available port is found.
    """
    if minimum < 1024:
        # Note that this raising of ValueError is not mentioned in the doc
        # string's "Raises:" section because it is not appropriate to
        # guarantee this specific behavioral reaction to API misuse.
        raise ValueError(f'Min. port must be at least 1024, not {minimum}.')
    port = self._find_next_open_port(minimum)
    if port is None:
        raise ConnectionError(
            f'Could not connect to service on port {minimum} or higher.')
    assert port >= minimum, (
        f'Unexpected port {port} when minimum was {minimum}.')
    return port

In [ ]:
connect_to_next_port

In [ ]:
# 띄어쓰기 4칸 (tab(스페이스 4칸과 다릅니다!), 6칸, 7칸 다 작동합니다.)

In [ ]:
# 아래와 같이 탭과 띄어쓰기 4번을 혼용하시면 error가 납니다.
for i in range(10):
    print(i)
	print('큰 따옴표로 세번 묶거나')

TabError: ignored

In [ ]:
a = 10     #int, 정수형
b = 10.1   #float, 실수
c = -1
d = True   #bool, 논리형(부울형, 참거짓형)
e = 'good'
f = '10'   #str, 문자열
g = 'kim'
h = 'honggildong'
i = 'example'
j = 10 + 2j #complex, 복소수
k = 0b110   #int, 2진법 
l = 0o56    #int, 8진법
m = 0xAC    #int, 16진법

##########
def hello(x):
    return x**2

class A: # 자동차 공장
    pass

n = hello # function
o = print # bulit-in function (https://docs.python.org/3/library/functions.html)
p = lambda x:x**2 # function
q = int # type
r = A # class
s = A() # instance # 자동차
##########

print(f'type(10) : {type(a)}')
print(f'type(10.1) : {type(b)}')
print(f'type(-1) : {type(c)}')
print(f'type(True) : {type(d)}')
print(f'type(\'good\') : {type(e)}')
print(f'type(\'good\'.upper) : {type(e.upper)}')
print(f'\'10\' + \'10\' : {f + f}')
print(f'\'10\' * 3 : {f * 3}')
print(f'\'hong\' + \'gildong\' : {g + h}')
print(f'type(\'gildong\') : {type(h)}')
print(f'type(\'gildong100!!\') : {type(i)}')
print(f'type(10 + 2j) : {type(j)}')
print(f'type(0b110) : {type(k)}')
print(k)
print(f'type(0o56) : {type(i)}')
print(i)
print(f'type(0xAC) : {type(m)}')
print(m)
print(f'type(def func():...생략...) : {type(n)}')
print(f'type(print) : {type(o)}')
print(f'type(lambda x:x**2) : {type(p)}')
print(f'type(int) : {type(int)}')

type(10) : <class 'int'>
type(10.1) : <class 'float'>
type(-1) : <class 'int'>
type(True) : <class 'bool'>
type('good') : <class 'str'>
type('good'.upper) : <class 'builtin_function_or_method'>
'10' + '10' : 1010
'10' * 3 : 101010
'hong' + 'gildong' : kimhonggildong
type('gildong') : <class 'str'>
type('gildong100!!') : <class 'str'>
type(10 + 2j) : <class 'complex'>
type(0b110) : <class 'int'>
6
type(0o56) : <class 'str'>
example
type(0xAC) : <class 'int'>
172
type(def func():...생략...) : <class 'function'>
type(print) : <class 'builtin_function_or_method'>
type(lambda x:x**2) : <class 'function'>
type(int) : <class 'type'>

In [ ]:
# 이스케이프 문자
# https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
print('hello \n world')
print('hello \t world')
print('hello \' world')
print('hello \" world')
print('hello \\ world')

hello
 world
hello 	 world
hello ' world
hello " world
hello \ world

In [ ]:
# type -> string

hello = 10

print(r'hello \n world') # str -> raw (Django 2.x까지 URL parsing을 이렇게 사용하고 있어요)
print(f'hello \n world {hello}') # 앞으로 f-string 기법
print('hello world {}'.format(hello))

In [ ]:
# 오일러의 수를 모른다 해서, 수학 연산이 약하다 해서 우리 수업에 문제가 되지 않습니다.
print(2.3e3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E3)

2.3 * (10 ** 3)

In [ ]:
print(2.3e-3) # 무리수, 오일러 수(2.718에 수렴, 파이가 3.14인 것처럼)
print(2.3E-3)

2.3 * (10 ** -3)

In [ ]:
type(2.3E-3)

In [ ]:
class A: # 자동차 공장
    pass

a = A # class
b = A() # instance # 자동차

print(type(a))
print(type(b))

In [ ]:
# 변수를 처음 만나시면 type, dir을 해봅니다.
# type을 찍으면 검색 키워드를 알 수 있습니다.
# dir을 찍으면 속성을 알 수 있습니다.
type(a)

In [ ]:
print(type(a))

In [ ]:
dir(a)

NameError: ignored

In [ ]:
# 실무에서 자주 사용하는 구문
type(10)
type(10) == int
type(10.1) == float

In [ ]:
# 위만큼 자주사용하진 않지만 타입 확인 코드
a = 10
isinstance(a, int)
isinstance(a, float)

## 변수

In [ ]:
# CS 변수는 포스트잇
# 변수는 메모리 공간을 가리킵니다.

# x라는 포스트잇도 붙였지만
# y라는 포스트잇도 붙여져 있는 것입니다.
x = 10
y = 10

id(x), id(y) # id는 누굴 가리키고 있는지 그 주소값을 반환합니다.

In [ ]:
x is y

In [ ]:
x = 257
y = 257

id(x), id(y)

In [ ]:
x is y

In [ ]:
# Python은 자체적으로 속도를 높이기 위한 
# 여러가지 노력들을 해왔습니다.
# (아래 언급한 것 말고도 각각의 자료형에서 메모리를 효율적으로 관리하기 위한 노력들을 말씀드리겠습니다.)
# 구버전도 말씀을 드릴 것인데 이유는 여러분이 실무에가서 접할 환경이 최신 버전이 아니기 때문입니다.
# 야xx의 경우에는 Django 1.x, python 2.x를 사용하고 있어요. 
# 대부분의 기업들이 한 번 구축해놓은 시스템은 바꾸기가 쉽지 않습니다.
# 그래서 -5 ~ 256은 먼저 메모리에 적재를 합니다.

In [ ]:
x = -5
y = -5

id(x), id(y)

* 변수의 타입이란 무엇인가?
* 변수의 타입은 왜 있는 것일까?
* 어떤 고민을 통해 변수의 속성을 정했을까?

In [ ]:
'a' + 'a'

In [ ]:
# 왜 이어 붙였지>
# 컴퓨터 입장에서 a는 97(인간이 보는 숫자) -> 0x61! 결국 숫자!

In [ ]:
# cpython -> 이어 붙이라고 정의가 되어 있어서
# 사회 통념적인 약속 -> 코드로 구현
# type, dir
# 이러한 약속들은 매직메소드(__init__...)를 통해 구현하게 됩니다.

## 변수의 속성 변경

In [ ]:
'10' + '10'

In [ ]:
int('10') + int('10')

In [ ]:
# 지금 배우는 포인트는 class가 중요한 문법이 아니라
# 이러한 "약속"을 우리가 변경할 수 있다가 중요한 포인트입니다.
class int(int):
    def __add__(self, a):
        return 'leehojun'

int('10') + int('10')

In [ ]:
class int(int):
    def __add__(self, a):
        return self*a

int('10') + int('10')

In [ ]:
dir(10)

In [ ]:
class int(int):
    def 제곱(self, 승수):
        return self ** 승수

value = int('10')
print(dir(value))

In [ ]:
value.제곱(3)

In [ ]:
# 각각 메모리 주소를 같은 곳일 찍는것
x = 10
y = x
z = y
x = 100

print(id(x), id(y), id(z))

## 변수의 속성

* 변수는 주로 스네이크 표기법을 많이 사용합니다. 물론 회사 컨벤션에 따르셔야 합니다.
* 영문과 숫자를 사용할 수 있지만, 숫자로  시작하지는 못합니다.
* 특수문자는 사용하지 않아요.(언더바(_)는  사용합니다. 스네이크 표기법, 특수문자나  이미중 사용 가능한 것들이 있기는 합니다.  권하지 않습니다.)
* 예약어는 사용하지 않습니다.(if, elif, while, * for, etc)
* 대소문자는 구분합니다.
* 언더바로만 사용하거나 언더바로 시작할 수 있습니다.
* 대문자로 시작하는 변수를 사용할 수 있지만, 관습적으로 대문자로 시작하는 변수는 Class로 만들기 때문에 소문자로 시작하는 변수를 만들기를 권합니다. Class는 보통 파스칼 표기법을 따릅니다. 다만 회사 컨벤션마다 다릅니다.

In [ ]:
# 스네이크 표기법(Python에서 주로)
hello_world = 10
# 카멜 표기법(JavaScript에서 주로)
helloWorldHello = 10
# 파스칼 표기법(Class 같은 곳에서 많이 사용)
Hello = 10

In [ ]:
# 10hello = 100
hello10 = 100

#파이 뭐시기

_ = 100 # 언더바는 자주 사용되는데 이렇게 사용되진 않습니다.
print(_)

In [ ]:
for _ in range(10):
    print('hello')

In [ ]:
# if = 100
# print = 100

## 입력과 출력

In [ ]:
x = input()
x

In [ ]:
x + x # 사용자에게 받은 입력은 str

In [ ]:
print(x)

In [ ]:
print(10, 10, 10)

In [ ]:
print('hello', 'world', 'hello')

In [ ]:
print(x, x)

In [ ]:
print('hello world', end ='!')
print('hello world', end ='!')
print('hello world', end ='!')

In [ ]:
print('hello','world', sep ='!')
print('010','5044','2903', sep ='-')

In [ ]:
이름='손수하'
나이 = 10
print('1. 제 이름은 손수하입니다. 제 나이는 10입니다.')
print('2. 제 이름은 ', 이름, '입니다. 제 나이는 ',나이,'입니다.', sep='')
print('3. 제 이름은 %s입니다. 제 나이는 %d입니다.'%(이름, 나이))
print('4. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print(f'5. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')

[포멧코드](https://www.notion.so/paullabworkspace/9fd33417740f4eba8715f5c4a1ed7c7b?v=e01ecdfe2f9448dcaad68b03a38057a5)

## formatting

In [ ]:
print(f'{100*10}')

In [ ]:
# 중괄호 안에서 복잡한 연산을 하시는 것을 권하지 않습니다.
result = 100*10
print(f'{result}')

In [ ]:
txt = 'hello'
i = '10'
print(f'{txt:>10}')
print(f'{txt:>{i}}')

In [ ]:
print(f'{"hello":!<10}')
print(f'{"hello":!>10}')
print(f'{"hello":!^10}')

In [ ]:
# 이런 문법은 필요에 의해 검색해 보시다 보면 익숙해집니다.
# :뒤에 <^> 이게 정렬 방식을 정함
print(f'{"hello":=<10}')
print(f'{"hello":=>10}')
print(f'{"hello":=^10}')

In [ ]:
# 둘다 잊어도 괜찮
# https://tech.kakao.com/2017/09/27/kakao-blind-recruitment-round-1/
bin(9)
print(f'{bin(9)[2:]:0>5}')

In [ ]:
bin(9|30)[2:].replace('1','#').replace('0',' ')

In [ ]:
print(f'{"start":-^20}')

In [ ]:
print(f'{0.12345:0.2f}')

* 이 아래 코드는 필수는 아닙니다.
참고삼아서만 넣어드립니다.

In [ ]:
# 이전 방식
print('나의 이름은 %s입니다'%('한사람'))
print('나의 이름은 "%s"입니다. 나이는 %d세이고 성별은 %s입니다.'%('한사람',33,'남성'))
print('나이는 %d세이고 성별은 %s입니다. 나의 이름은 %s입니다. '%(33,'남성','한사람'))
print('나이는 %03d세이고 신장은 %6.2f입니다. 나의 이름은 %s입니다. '%(33,56.789,'한사람'))
print('-' * 40)

# 파이썬(Python) 3 포맷팅 방식
print('나의 이름은 {}입니다'.format('한사람'))
print('나의 이름은 {0}입니다. 나이는 {1}세이고 성별은 {2}입니다.'.format('한사람',33,'남성'))
print('나이는 {1}세이고 성별은 {2}입니다. 나의 이름은 {0}입니다. '.format('한사람',33,'남성'))
print('나이는 {age}세이고 성별은 {gender}입니다. 나의 이름은 {name}입니다. '
         .format(name='한사람',age=33,gender='남성'))
print('만세삼창 :  {0}!!! {0}!!! {0}!!! '.format('만세'))
print('삼삼칠 박수 :  {0}!!! {0}!!! {1}!!! '.format('짝'*3,'짝'*7))
print('-' * 40)

# 파이썬(Python) 3.6 f-string 방식
something = '볼펜'
EA = 2
one_length = 5.343
scale = 'cm'

print(f'{something} {EA}개의 길이는 {one_length*EA}{scale} 입니다.')
print(f'{something} {EA}개의 길이는 {one_length*EA:.1f}{scale} 입니다.')

print('Python is [{:15}]'.format('good'))
print('Python is [{:<15}]'.format('good'))
print('Python is [{:>15}]'.format('good'))
print('Python is [{:^15}]'.format('good'))
print('당신의 나이는 [{:15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('당신의 나이는 [{:>15}]세'.format(22))
print('당신의 나이는 [{:<15}]세'.format(22))
print('-' * 40)

In [ ]:
char_a = '5'
int_a = 5

'''기본적으로 {} 포맷팅의 특성을 그대로 가짐'''
print(1234567890)
print(f'{char_a:>5}') # >는 오른쪽정렬
print(f'{char_a:<5}') # <는 왼쪽정렬
print(f'{char_a:^5}') # ^는 가운데정렬
print(f'{int_a:0<5}')# <는 왼쪽정렬, 빈자리를 0으로 채울수도 있음
print(f'{int_a:^10.2f}') # ^ 가운데 정렬하면서 float 타입지정

## int

* 파이썬에서는 숫자를 정수, 실수 복소수로 나눠 표현합니다.
* 2진수, 8진수, 16진수는 정수로 표현됩니다.

In [ ]:
10 #정수
-10 #정수
10.1 # 실수

a = 10
type(a)
dir(a)

In [ ]:
'bit_length'# bit로 바꾸었을 때 비트의 길이
'to_bytes'# 컴퓨터에서 저장하는 바이트의 형태로 숫자를 표현

In [ ]:
# 1Bit, 0 ~ 1 # bit - 1자리
# 1Bytes = 8bit, 00000000 ~ 11111111 # 1byte - 8bit
# 1KB (키로바이트) = 1024Bytes
# 1MB (메가바이트) = 1024Kb 
# 1GB (기가바이트) = 1024MB
# 1TB (테라바이트) = 1024GB
# 1PB (페타바이트) = 1024TB

In [ ]:
(9).bit_length() #1001

In [ ]:
(2).to_bytes(1, byteorder='little', signed=True)
(1).to_bytes(1, byteorder='little', signed=True)
(0).to_bytes(1, byteorder='little', signed=True)
(-1).to_bytes(1, byteorder='little', signed=True)

In [ ]:
# 컴퓨터는 음수를 자체적으로 표현할 수 없기에 2의 보수를 사용합니다.
# 1의 보수를 사용하게 되면 +0과 -0이 존재하게 됩으로 비트 하나를 낭비하게 됩니다.
# 따라서 2의 보수를 사용합니다.

In [ ]:
# 0000 0001 # 1
# 1111 1110 # 1의 1의 보수
# 1111 1111 # 1의 2의 보수 => ff

In [ ]:
# 10진법
# 0 1 2 3 4 5 6 7 8 9 10
# 1324 = 1*1000 + 3*100 + 2*10 + 4

# 2진법
# 0 10 -> 10

# 8진법
# 0 1 2 3 4 5 6 7 -> 10

# 16진법
# 0 1 2 3 4 5 6 7 8 9 a b c d e f ->10

In [ ]:
# 컬러의 표현
# 2594be
# 000000 ~ ffffff
#  ff는 10진수로 무슨 수자를 의미?
# 255

In [ ]:
a = 10
type(a)

In [ ]:
int('10') + int('10')

In [ ]:
int('10', 16) #16진법으로 10은?

In [ ]:
print(0b110)
print(0o110)
print(0x110)

In [ ]:
a = 10
b = 10.1

a+b # 다른 일부 언어에서는 허용되지 않습니다.

In [ ]:
# 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
0.1+0.2

In [ ]:
a = 0.1

In [ ]:
a = a+ 0.1
a

* https://docs.python.org/ko/3/tutorial/floatingpoint.html
* https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.
* 컴퓨터에서 부동소수점 숫자는 2진 분수로 표현되기에 무한대수가 발생한다.

In [ ]:
'hello'.count('')

## !! 오늘 배운 것 정리
1. 단축키
    * (필수) Ctrl(Command) + Enter : 해당 셀 실행
    * (필수) Alt(Option) + Enter : 해당 셀 실행 + 코드 불록 하단 추가
    * (필수) Ctrl + / : 주석
    * (필수) Shift + Del : 한 줄 지우기
    * (필수) Tab, Ctrl + ] : 들여쓰기
    * (필수) Shift + Tab, Ctrl + [ : 내어쓰기

2. 마크다운
    ```
    # hello
    ## hello
    ### hello

    1. hello
    2. hello
    3. hello

    * hello
    * hello
    * hello
    ```

3. 주석

    ```python
    #행 단위 주석입니다.

    """
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    """

    '''
    큰 따옴표로 세번 묶거나
    작은따옴표로 세번 묶으면
    열단위 주석이 됩니다.
    '''
    ```

4. PEP8 권고사항
    * 띄어쓰기는 4칸
    * 한 줄에 79자 이상을 사용하지 않는다.

5. 형의 종류(type, dir)
    * 컨벤션 자료형(list, tuple, dict, set)은 나중에 진행합니다.
    * int
    * float
    * bool
    * str
    * function
    * bulit-in function

6. 이스케이프 문자
    * https://ko.wikipedia.org/wiki/%EC%9D%B4%EC%8A%A4%EC%BC%80%EC%9D%B4%ED%94%84_%EB%AC%B8%EC%9E%90
    ```python
    print('hello \n world')
    print('hello \t world')
    print('hello \' world')
    print('hello \" world')
    print('hello \\ world')
    ```

7. 실무에서 자주 사용하는 타입확인 구문
    ```python
    type(10)
    type(10) == int
    type(10.1) == float

    a = 10
    isinstance(a, int)
    isinstance(a, float)
    ```

8. 변수의 인사이트
    ```
    dir을 입력했을 때
    1. __hello__와 같은 형태의 메직 메서드는 속성을 표현한다
    2.  언더바가 없는 메서드는 해당 자료형의 편의 기능을 제공한다
    ```

9. 입력과 출력
    ```python
    x = input() #입력, 숫자를 입력해도 str
    print(x) #출력

    이름 = '이호준'
    나이 = 10
    print(f'제 이름은 {이름}입니다. 제 나이는 {나이}입니다.')
    print(f'{100 * 10}')
    ```


10. int 형
    * 2진수, 8진수, 16진수는 정수


11. float 형
    * 부동소수점 오차(2진법으로 변환했을 때 0.1이 무한대수가 발생합니다.)
    0.1 + 0.2 # 대부분의 언어 공통입니다.
    * https://docs.python.org/ko/3/tutorial/floatingpoint.html
    * https://0.30000000000000004.com/ 에서 언어별 해결책을 제시한다.

## str (문자열)

- 순서가 있는 **시퀀스 자료형**입니다.
- 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
- 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
- 이스케이프 문자도 사용이 가능합니다.
- 리스트, 튜플도 시퀀스 자료형입니다.

In [ ]:
s = 'paullab CEO leehojun'
s[0] # 0은 index입니다. 이렇게 호출하는 것을 indexing이라고 합니다.

In [ ]:
type(s)

In [ ]:
dir(s)

In [ ]:
# 문자열의 메서드
# 'capitalize','casefold','center','count','encode',
# 'endswith','expandtabs','find','format','format_map',
# 'index','isalnum','isalpha','isascii','isdecimal','isdigit',
# 'isidentifier','islower','isnumeric','isprintable','isspace',
# 'istitle','isupper','join','ljust','lower','lstrip',
# 'maketrans','partition','removeprefix','removesuffix',
# 'replace','rfind','rindex','rjust','rpartition','rsplit',
# 'rstrip','split','splitlines','startswith','strip','swapcase',
# 'title','translate','upper','zfill'

In [ ]:
s = 'paullab CEO leehojun'
s.lower(), s.upper() 
# 특히 사용자에게 입력을 받는 경우 lower도 많이 사용합니다.

In [ ]:
s = 'paullab CEO leehojun'
s.find('C'), s.index('C')

In [ ]:
#  견고한 코드란?
# 시간이 지나도 그대로 사용할 수 있고
# error가 예측 가능하게 나는 코드
# 네이버의 이미지 슬라이딩 코드
# bool(s.find('Z')) => -1은 True이기 때문에 주의가 필요합니다.
s.find('Z')

In [ ]:
# Error가 나면 Error를 주는 것이 좋을 수 있습니다.
# Error를 안주는 언어로 JavaScript
s.index('Z')

In [ ]:
s = 'paullab CEO leehojun'
s.find('CEO')

In [ ]:
s = 'paullab CEO leehojun'
s.count('l')

In [ ]:
str([1,2,3,4,5]).count(' ')

In [ ]:
str([1,2,3,4,5]).count(',')

In [ ]:
str([1,2,11,4,111]).count('1')

In [ ]:
str(list(range(0, 10001))).count('8')

* https://codingdojang.com/scode/393?answer_mode=hide

In [ ]:
str([1,2,3,4,5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
str([1,
     2,
     3,
     4,
     5]).count(' ')
# list는 콤마 다음에 공백이 없더라도 공백으로 인식해줍니다.

In [ ]:
'hello'.count('')

In [ ]:
'a'.count('')

In [ ]:
''.count('')

In [ ]:
''+''

In [ ]:
# 별 5개
'  hello   !  '.strip() # 공백제거 메소드

In [ ]:
# 별5개
'hello world hi'.replace(' ', '!')
'hello world hi'.replace('world', 'W@R@L@R@D').upper()

In [ ]:
'hello world hi'.replace('world', 'W@R@L@R@D').upper().split('@')
# 반환값이 list이기 때문에 메소드 체이닝을 하려면
# 이후로 list 메소드를 사용해야 합니다.

In [ ]:
'hello world hi'.replace(' ','')

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ', '').replace('"', '')

# Pythonic하지 않다!
data.split('\n')[0].replace(' ', 
                '').replace('"', 
                '')

# Pythonic하게 하려면
data.split('\n')[0]\
                .replace(' ', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')\
                .replace('"', '')

# 제가 사용하는 기법
processed_string = data.split('\n')[0].replace(' ', '').replace('"', '')
processed_string.replace('"', '').replace('"', '')

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 79자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 39자

In [ ]:
data = '''  "+ +-+ -+-"  
  "++ -- +-+"  
  "++-+ -+ -"  
  "+ ++-+ -+"  '''

data.split('\n')[0].replace(' ','').replace('"', '').replace('+', '1').replace('-', '0')
ord('A'), chr(65) # ord는 문자를 가지고 숫자로 변경, chr은 숫자를 문자로 변경합니다.

숫자 = data.split('\n')[0].replace(' ','').replace('"', '').replace('+', '1').replace('-', '0')
int(숫자, 2)
chr(int(숫자, 2))

In [ ]:
# 별 4.5개
'paullab CEO leehojun'.split(' ') #문자열을 쪼개어 줍니다.
'paullab!CEO!leehojun'.split('!')
'paullab,CEO,leehojun'.split(',')

In [ ]:
'010 5044 2903'.split(' ')
'010-5044-2903'.split('-')
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num]

In [ ]:
'010 5044 2903'.split() # 공백단위가 들어가게 됩니다.

In [ ]:
# '010 5044 2903'.split('') # 빈 문자열을 넣지는 못합니다.

In [ ]:
list(map(int, '010 5044 2903'.split(' ')))

In [ ]:
int('010') # 0은 숫자가 아니라서 지워짐

In [ ]:
num ='010 5044-2903'.replace('-',' ').split(' ')
[int(i) for i in num] # 리스트 컴프리헨션 사용
list(map(int, '010 5044 2903'.split(' ')))

# 2개 모두 새로운 리스트를 만드는 것입니다.
# 원본을 변경시키지 않습니다.

In [ ]:
# 이 코드 보다는
s = []
for i in '010 5044-2903'.replace('-', ' ').split(' '):
    s.append(int(i))
s

# 요 코드를 추천합니다.
[int(i) for i in num]

In [ ]:
# 별 4.5개
'~'.join(['hello', 'world', 'hello'])
'!'.join(['hello', 'world', 'hello'])
''.join(['hello', 'world', 'hello'])
' '.join(['hello', 'world', 'hello'])

In [ ]:
'hello'.isalpha()

In [ ]:
'123'.isdigit()

In [ ]:
'12a3'.isdigit(), '12 3'.isdigit()

In [ ]:
'12a3'.isalnum(), '12 3'.isalnum()

In [ ]:
'안녕하세요'.isalpha(), '안녕하세요'.isalnum()

In [ ]:
# 퀴즈
# 숫자를 모두 더하라!
result = 0
for i in '123abc913sldlf':
    if i.isdigit():
        result += int(i)
result

In [ ]:
'paullab CEO leehojun'.isascii()

In [ ]:
'paullab CEO leehojun'.rjust(30) #오른쪽 정렬
'paullab CEO leehojun'.ljust(30) #왼쪽 정렬
'paullab CEO leehojun'.center(30)#가운데 정렬

In [ ]:
# zfill()은 데이터의 빈 공간을 0으로 채워줍니다. 2진수에서 많이 사용됨
'hello'.zfill(30)

In [ ]:
'1001'.zfill(5)
'hello'.zfill(10).replace('0','-')

In [ ]:
규칙테이블 = str.maketrans({'\n':'', '\t':''})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

In [ ]:
'paullab \n\n\n CEO \t\t\t leehojun'.replace('\n', '').replace('\t', '')

In [ ]:
규칙테이블 = str.maketrans({'\n\t':'   '})
'paullab \n\n\n CEO \t\t\t leehojun'.translate(규칙테이블)

## pep

In [ ]:
# aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa => 80자
# 아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아아 => 42자면 한글 넘어갑니다.
# line에 딱 맞춰 들어간 것을 볼 수 있습니다. 
# 강제사항은 아닙니다.
# 띄어쓰기 4번도 강제사항은 아닙니다.
# pep8, pep 20에 기술되어 있습니다. => pep(Python Enhancement Proposal)란 무엇인가요? 8이란 무엇인가요?
# pep8 : Style Guide for Python Code
# pep20 : The Zen of Python # 이스터에그로 숨겨져있음
# https://peps.python.org/

## cpython

* 공식홈페이지에서 다운로드 받는 것이 cpython입니다.
* https://github.com/python/cpython
* list를 구현한 코드 : https://github.com/python/cpython/blob/main/Objects/listobject.c

## 인덱싱과 슬라이싱

In [ ]:
name = 'Guido van Rossum'
print(name[0])
print(name[1])
print(name[2])

In [ ]:
# s[start:stop:step]
s = 'paullab CEO leehojun'
s[5:]
s[:5]
s[3:10]
s[3:10]
s[0:20:2]

In [ ]:
# 자주 사용되는 코드
s = 'paullab CEO leehojun.'
s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
s[:-1]

In [ ]:
test = [1,2,3,4]
test2 = test
test2[0] = 1000
test, test2

In [ ]:
test = [1,2,3,4]
test2 = test[:] # 새로운 리스트를 만들어서 test2에게 줍니다.
test2[0] = 1000
test, test2

## 문자열의 연산

In [ ]:
s = 'hello world'
dir(s)

## 형변환

* 형변환 : type을 변경하는 것입니다.

In [ ]:
x = int(input())
x + x # but 알파벳 입력하면 error!

In [ ]:
x = input()
if x.isdigit():
    x = int(x)
x + x # but 알파벳 입력하면 error!

In [ ]:
# int('abc') # error
int(10.1) # 버림
int('10') # 형변환 가능
# int('10.1') # 형변환 불가능

In [ ]:
float(10.1) # 형변환 가능
float('10') # 형변환 가능

In [ ]:
int('10a') # 되는 언어가 있어서 보여드린 것입니다.
#Python에서는 허용하지 않습니다.

In [ ]:
def hello():
    pass

str(type)
str(hello)

str('123')
str(True)
str(None)
str([1,2,3])
str({1,2,3})
str({'one':1, 'two':2})

In [ ]:
# 별 5개
if True:
    print('hi')

if 'hello':
    print('hi')

l =[1,2,3]
while l:
    print(l.pop())

bool('') # 빈 문자열을 제외하고 모두 True
bool('a')
bool('False') # 문자열 False이기 때문에 True
bool('a') 
bool(0) # 0을 제외하고 모두 True
bool(-1) # 이것도 True
bool(None) # None은 비어있음을 명시해주는 키워드, False
bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
bool({}) # 컨벤션 자료형은 비어있으면 False입니다.

In [ ]:
# list로 형변환
s='10'
l=list(s)
l

In [ ]:
s='leehojun'
l=list(s)
l

In [ ]:
# tuple
s='leehojun'
l=tuple(s)
l

In [ ]:
# dict
# s='leehojun'
# l=dict(s)

s = [('name', 'leehojun'), ('age', 10)]
d = dict(s)
d

In [ ]:
# set(집합)으로 형변환
name = 'leehojun'
set(name)

In [ ]:
len('hello world') # __len__
len([1,2,3,4])

## 문제풀이

https://paullabworkspace.notion.site/1-7-1a8a36a77f254aa49e84de986c7499bc

In [ ]:
name=input()
print(name*2)
num=123456789
[int(i) for i in str(num)][3] # list(str(num))[3] 도 가능

## 산술연산

In [ ]:
a = 10
b = 3

print(f'10 + 3 == {a + b}')
print(f'10 - 3 == {a - b}')
print(f'10 / 3 == {a / b}')
print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
print(f'10 * 3 == {a * b}')
print(f'10 ** 3 == {a ** b}')
print(f'10 % 3 == {a % b}') # 나머지

In [ ]:
# 연산자 우선순위는 and, or, 사칙연산, 제곱 정도만 알아도
# 코딩하는데 큰 무리가 없습니다
# (모르면 읽는데 어려움이 생기기도 합니다.)
print(3 ** 2 * 3)
print(3 * 3 ** 2) # 왜 81이 아니지?
# 곱하기 보다 제곱이 우선순위가 높습니다.
print(3+3*2) # 3+3부터 먼저 하지 않습니다.

In [ ]:
a = 10
b = 3

print(f'10 > 3 == {a > b}')
print(f'10 >= 3 == {a >= b}')
print(f'10 < 3 == {a < b}')
print(f'10 <= 3 == {a <= b}')
print(f'10 == 3 == {a == b}')
print(f'10 != 3 == {a != b}')

## 논리연산

In [ ]:
# and 는 곱
# or 는 합
# not은 반대
# True 1
# False 0
# 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

print(True and False)
print(True or False)

if True and False:
    print('hello')

if 10 > 3 and 8 % 3 == 0:
    print('hello')

# and는 언제 True가 되나요?
# 모두 True일 때
# or는 언제 True가 되나요?
# 둘 중 하나라도 참이라면 True

In [ ]:
# https://codingdojang.com/scode/350?answer_mode=hide

result = 0
for i in range(1000):
    if i % 3 == 0 or i % 5 == 0:
        result += i

print(result)

In [ ]:
not True

In [ ]:
not False

In [ ]:
# Python 입장에서 보는 코드
# False and ???? => 물음표에 무엇이 나오든 False
# 그래서 Python도 저 물음표를 보지 않습니다.

def solution():
    1/0

if False and solution():
    print('hello')

In [ ]:
# True or ????? => 물음표에 무엇이 나오든 Ture
# 그래서 Python도 저 물음표를 보지 않습니다.
def solution():
    1/0

if True or solution():
    print('hello')

In [ ]:
# 단락 평가(컴퓨터가 어디까지 보는지 판단해서 활용)
username = '' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

In [ ]:
username = 'sonsuha' # 사용자가 아무것도 입력하지 않았을 경우
username = username or 'licat'
username

In [ ]:
# and와 or의 우선순위 (and가 더 높습니다.)
for i in range(21):
    if i % 3 == 0 and i % 5 == 0 or i % 2 == 0:
        print(i)

for i in range(21):
    if (i % 3 == 0 and i % 5 == 0) or i % 2 == 0:
        print(i)

In [ ]:
# 아래는 출력되는 값이 다릅니다!
# 
for i in range(21):
    if (i % 3 == 0 or i % 5 == 0) and i % 2 == 0:
        print(i)

for i in range(21):
    if i % 3 == 0 or i % 5 == 0 and i % 2 == 0:
        print(i)

## 비트연산(중요도 하)

In [ ]:
# and (곱하기)
# 1001 == 9
# 0010 == 2
# ----
# 0000 == 0

9&8
9&2

In [ ]:
# or(더하기)
# 1001 == 9
# 0011 == 3
# ----
# 1010

9|3

In [ ]:
# xor(같을경우 0 다를경우 1)
# 1001 == 9
# 0011 == 3
# ----
# 1010

9^3

In [ ]:
~9 # 2의 보수를 취하는 것입니다.(9에게 +1 한 다음에 - 취하기)
~-7

In [ ]:
3 << 2 
# 3을 2진수로 표현하면 11인데 2칸을 왼쪽으로 미는 것입니다
# 1100

## 할당연산

In [ ]:
# a = 10
# a = a + 10
a = + 10 # 이렇게 a를 지우면 양수를 표현하는 10만 남아요
a

In [ ]:
a = 10
a += 10 # a = a + 10
a

In [ ]:
a = 10
a //= 10 # 산술연산 모두 됩니다.
a

In [ ]:
# Python에서는 특이하게 ++a, ++b, a++가 없습니다.

## 식별연산자

In [ ]:
# 앞으로 아래 2개를 활용해서 Python에
# 컨벤션 자료형이 어떻게 구성이 되는지 확인해 볼겁니다.
# id()
# is

In [ ]:
a = 999
b = 999
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a is b

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
a == b # Python에서 등호는 type과 value를 봅니다.

In [ ]:
# is는 주소값을 비교합니다.
id(a) == id(b) #이게 false면 is도 false 입니다.

## not의 위치

In [ ]:
a = 10
b = 100
a is not b

In [ ]:
a = 10
b = [10, 20, 30]
a not in [10, 20, 30]

## 멤버연산

In [ ]:
'a' in 'hello a world'
'a' in 'hello  world'
'a' in ['a', 'b']
# 10 in {'a':10, 'b':20} #dic 안에 있는 value 값이 확인하고 싶으면
10 in {'a':10, 'b':20}.values()
10 in {10, 20, 30}

In [ ]:
'a' not in ['aa', 'bb']

In [ ]:
10 in [10, 20, 30]
[10] in [10, 20, 30]
[10] in [[10], 20, 30]
[10, 20] in [10, 20, 30]
[10, 20] in [[10, 20], 30]
set([10, 20]).issubset(set([[10, 20, 30]))

## !! 연습문제

In [ ]:
#1 다음 코드의 실행 결괏값을 예상해보세요

a = 100
(a > 100) and (a < 200) # true and false - false
(a > 100) or (a < 200) # true or true - true
(a >= 100) and (a <= 200) # true and true - true
(a >= 100) or (a <= 200) # true or true - true

In [ ]:
#2 다음 코드의 실행 결괏값을 예상해보세요

b = 25
(b % 2 == 0) and (b % 5 == 0) # false and true - false

In [ ]:
#3 변수 c 안에 들어있는 가격을 100원짜리 몇개로 거슬러 줄 수 있는지 출력해주세요

c = 1000
# 결과값은 10입니다.
result = c//100
print(result)

In [ ]:
#4 (심화문제) 입력한 금액을 5000원, 1000원, 500원, 100원으로 교환하는 프로그램을 만들어주세요.)

price = int(input("금액을 입력해주세요(원 생략):"))
money_5000= money_1000= money_500= money_100 = '0'
money_5000 = price//5000
money_1000 = price%5000//1000
money_500 = price%5000%1000//500
money_100 = price%5000%1000%500//100
print(f'입력한 금액:{price}원\n\
5000원:{money_5000}개 \n\
1000원:{money_1000}개 \n\
500원:{money_500}개 \n\
100원:{money_100}개')

#---이호준 대표님의 코드 ---

#4번
# 그리디 알고리즘(욕심쟁이 알고리즘)
# 남은금액 = int(input())

# 오천원 = 남은금액 // 5000
# 남은금액 = 남은금액 % 5000
# 남은금액 = 남은금액 - (5000 * 오천원)

# 천원 = 남은금액 // 1000
# 남은금액 = 남은금액 % 1000

# 오백원 = 남은금액 // 500
# 남은금액 = 남은금액 % 500

# 백원 = 남은금액 // 100
# 남은금액 = 남은금액 % 100

# print(오천원, 천원, 오백원, 백원)

## !! 오늘 배운 것 정리

1. str
    - 순서가 있는 **시퀀스 자료형**입니다.
    - 작은 따옴표(' ')나 큰 따옴표(" "), 삼중따옴표('''str''', """str""")로 감싸는 것도 가능합니다. (삼중따옴표를 사용할 경우에는 줄단위의 문자열을 나타낼 수 있습니다.)
    - 작은 따옴표 안에 큰 따옴표, 큰 따옴표 안에 작은 따옴표 사용이 가능합니다.
    - 이스케이프 문자도 사용이 가능합니다.
    - 리스트, 튜플도 시퀀스 자료형입니다.
    - 메서드
        - lower
        - index, find
        - count
        - strip
        - replace
        - split, join
        - isdigit
2. 슬라이싱
    - 시퀀스형 자료형을 자를 수 있습니다.
    - 형태
    ```
    # s[start:stop:step]
    s = 'paullab CEO leehojun'
    s[5:]
    s[:5]
    s[3:10]
    s[:]
    s[0:20:2]
    # 자주 사용되는 코드
    s = 'paullab CEO leehojun!'
    s[:] # string에서는 많이 사용하지 않지만 list에서 많이 사용합니다.
    s[:-1] # 마지막 요소만 제외하고 다 슬라이싱 합니다.
    ```

3. 형변환
    - 형변환 : type을 변경하는 것입니다.
    - int, float, str 등 자료형에 이름으로 형태를 변경할 수 있습니다.
    - 그 중에서도 bool이 매우 중요합니다.
    ```
    # 별 5개
    # bool 형으로 형변환 하는 것
    if True:
        print('hi')

    if 'hello':
        print('hi')

    # 정말 많이 사용하는 코드
    l = [1, 2, 3]
    while l:
        print(l.pop())

    bool('') # 빈 문자열을 제외하고 모두 True
    bool('a')
    bool('False') # 문자열 False이기 때문에 True
    bool(0) # 0을 제외하고 모두 True
    bool(-1)
    bool(100)
    bool(None) # None은 비어있음을 명시해주는 키워드, False
    bool([]) # 컨벤션 자료형은 비어있으면 False입니다.
    bool({})
    ```

4. 산술연산
    ```
    a = 10
    b = 3

    print(f'10 + 3 == {a + b}')
    print(f'10 - 3 == {a - b}')
    print(f'10 / 3 == {a / b}')
    print(f'10 // 3 == {a // b}') # 몫만 나옵니다.(정수만요!)
    print(f'10 * 3 == {a * b}')
    print(f'10 ** 3 == {a ** b}')
    print(f'10 % 3 == {a % b}') # 나머지
    ```

5. 논리연산
    ```
    # and 는 곱
    # or 는 합
    # not은 반대
    # True 1
    # False 0
    # 중요한 포인트는 저렇게 했을 때 언제 True가 되는지 정리하는 것

    print(True and False)
    print(True or False)
    print(True or True)

    # https://codingdojang.com/scode/350?answer_mode=hide
    for i in range(101):
        if i % 3 == 0 and i % 5 == 0:
            print(i)
    ```

6. 할당연산
    ```
    a = 10
    a += 10 # a = a + 10
    a //= 2
    a
    ```

7. is, in
    1. is
        ```
        a = [1, 2, 3]
        b = [1, 2, 3]

        id(a), id(b)
        a == b # 값이 같은 것과 메모리에 같은 공간에 저장되어 있다는 얘기는 다른 얘기입니다!
        ```
    2. in
        ```
        'a' in 'helalo world'
        'a' in 'hello world'
        'a' in ['a', 'b']
        'a' in {'a':10, 'b':20}
        # 10 in {'a':10, 'b':20} # dict안에있는 value값이 있는지 확인하고 싶으면
        10 in {'a':10, 'b':20}.values()
        10 in {10, 20, 30}
        ```

## 함수

1. 코드 덩어리(쉽게 말하면..)
2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
3. 코드의 구조를 한 눈에 파악할 수 있습니다.

In [ ]:
def 부지매입():
    pass

def 설계도면작성():
    pass

def 인력모집():
    pass

def 벽돌쌓기():
    pass

def 지붕올리기():
    pass

# 건축 또는 집짓기?
# 신입사원이 왔을 때
# 3년에 한 번 이직
# 7년에 한 번 이직
# 오래 있으신 분들
부지매입()
설계도면작성()
인력모집()
벽돌쌓기() # 10만줄
벽돌쌓기() # 10만줄
벽돌쌓기() # 10만줄
지붕올리기()

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 1
def function(x, y):
    z = x + y
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 2
def function(x, y):
    z = x + y
    return None
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# 같은 코드 3
def function(x, y):
    z = x + y
    return
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
def hello():
    print('1')
    print('2')
    print('3')

print(hello())

In [ ]:
# 함수 연습문제 1
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100
def two():
    print('two1')
    print('two2')
    one()
    return

print(two())

In [ ]:
# 함수 연습문제 2
def one():
    print('one1')
    print('one2')
    print('one3')
    return 100
def two():
    print('two1')
    print('two2')
    x = one()
    return x+x

print(two())

In [ ]:
# 함수 연습문제 3
def one(a, b):
    print('one1')
    print('one2')
    print('one3')
    return a + b

def two(x):
    y = 100
    print('two1')
    print('two2')
    x = one(x, y)
    return x + x

print(two(10))

In [ ]:
# 함수 연습 문제 4
def one():
    print('one')
    return 10

def two():
    print('two')
    return 10

def three():
    print('three')
    return 10

a = one()
b = two()
c = three()
print(a+b)
print(a+b+c)

In [ ]:
# 함수란 무엇일까요?
# 함수의 이름은 메모리 상에 코드 블럭을 가리키는 변수입니다.
suha = print
suha('hello') # 소괄호는 그 함수 블록을 실행시키는 명령어가 됩니다.

In [ ]:
id(suha), id(print)

In [ ]:
l = [suha, print, suha, print]
l[0]('hello')
suha('hello')

In [ ]:
def hello(a):
    a('hello')
    a('hello')
    a('hello')

print(hello(print))

In [ ]:
def hello():
    def custom_sum(a,b):
        return a+b
    return custom_sum

c = hello() # c는 custom_sum을 가리킴
c(10, 100)

In [ ]:
def hello(a):
    return a
    
c = hello(print)
c(10, 100)

## 함수의 기본 기능

In [ ]:
# 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
def function(x, y):
    z = x + y
    return z
print(f'function(5, 7) = {function(5, 7)}')

In [ ]:
# return을 만나게 되면 함수는 종료가 됩니다.
def function(x, y):
    z = x + y
    return z
    print('hello')
    print('hello')
print(function(5, 7))

In [ ]:
# return을 빨리 만나게 해주세요.
# early return
# 조건이 부합하지 않으면 바로 return을 하도록 하는 코딩 패턴
# 이렇게 작성함으로써, 가독성이 좋은 코드
def custom_sum(x, y):
    if (type(x) != int and type(x) != float) or (type(y) != int and type(y) != float):
        return '연산할 수 없습니다.'
    z = x + y # 100줄이라 가정
    return z
print(custom_sum(5,5))

In [ ]:
# 한글코딩의 장점
# 1. 고유명사(한라산, 새싹멤버) -> 기획자와 소통하기도 좋습니다.
# 2. 알고리즘 가독성이 괜찮습니다. 프로젝트는 힘들수도 있어요 특정 모듈에서..

# 한글코딩의 단점
# 1. 싫어하시는 분도 많습니다
# 2. 한영키 바꾸는 것

In [ ]:
# 함수 안에 함수와 함수 안에 변수는 밖에서 호출이 안됩니다.
# 아래것이 만약 실행되었다면 위 어딘가에서 two와 x가 정의되어 있는 것입니다.
def one():
    def two():
        print('hello1')
    def three():
        print('hello2')
    two()
    three()
    x = 1000
    return 100

one()
print(x)
two()

In [ ]:
# 함수 안에 함수와 함수 안에 변수를 해봤으니
# 이번에는 함수 밖에 함수와 함수 밖에 변수를 해보도록 하겠습니다.

def test():
    print('test')

def one():
    test()

def two():
    test()

one()
two()
test()

In [ ]:
# 위 원리와 마찬가지로 
# 

def test():
    print('test')

def one():
    print('test')

def two():
    print('test')

one()
two()
test()

In [ ]:
# 이렇게 하시면 error가 납니다! 밖에 있느 ㄴ변수는 수정이 안됩니다.
test = 10

def one():
    test = test +10

one()

## 지역 변수와 전역 변수

In [ ]:
# 전역변수 접근은 가능하지만 수정이 되진 않습니다.
a = 100
def f():
    a = a + 1
f()

In [ ]:
# 전역변수를 함수 내부에서 수정이 되게 하는 코드입니다.
# 권하지 않습니다.
a = 100
def f():
    global a # 실무에서 사용 안합니다.
    a = a + 1
f()

In [ ]:
# 정해진 루트 외에 다른 루트로 해당 값을 수정하려고 하지 마세요
a = 100
def f(x):
    x = x + 1
    return x
a = f(a)
print(a)

In [ ]:
# 순수함수
def f(x):
    return x + x + 100
f(10)
f(20)
# 아규먼트 값에 따라 다르지만
# 아규먼트에 2배해서 100이 더해진다는 사실은 변하지 않죠?

In [ ]:
test = 100
def f(x):
    return x + x + 100 + test
f(10)
# 아규먼트 값에 따라 다르지만
# 아규먼트에 2배해서 100이 더해진다는 사실은 변하지 않죠?
# 그렇지 않습니다. test값이 다른 곳에서 조작이 되면
# 더해지는 값이 200이 안될 수도 있죠.
# 예측이 불가한것!

In [ ]:
# 지역변수와 전역변수 이어서
# 전역변수 : 전역에서 접근할 수 있는 변수(수정이라고 안함)
# 지역변수 : 함수 내에서만 접근할 수 있는 변수

In [ ]:
# 어려우신 분들은 pass!
# 조금 있다가 요약정리에서도 써드리지 않을 예정입니다.
# 자신의 공간에 변수가 선언되어 있지 않으면
# 전역까지 찾아 올라갑니다. 전역에도 없으면 error

a = 100
def one():
    a = 10
    def two():
        def three():
            a = 1000
            print(a)
        three()
        print(a)
    two()
    print(a)

one()
print(a)

In [ ]:
x = 100
def outer():
    x = 1
    def inner():
        global x # global
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
# error가 나는 코드
x = 100
def outer():
    x = 1
    def inner():
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

In [ ]:
# inner가 outer에 변수를 건드리고 싶은데
# inner 안에서는 x의 수정권한이 전혀 없습니다.
x = 100
def outer():
    x = 1
    def inner():
        nonlocal x
        x += 1
        print(x)
    inner()
    print(x)

outer()
print(x)

## 재귀함수

* 내가 나를 호출하는 것입니다.
* 재귀 <-> for문은 대부분 호환이 가능합니다.
* 반복문 사용하시기를 권합니다!
* 어렵고 효율도 안좋아요!
* 필수적으로 사용하는 곳이 있습니다.

In [ ]:
#sys.setrecursionlimit -> 제한을 늘릴 수 있음
def 숫자출력():
    print(1)
    return 숫자출력()
숫자출력()

In [ ]:
# for로 팩토리얼
# 5! = 5 * 4 * 3 * 2 * 1

result = 1
for i in range(1,6):
    result *= i
# 1 * 2 * 3 * 4 * 5 
result

In [ ]:
# 재귀로 팩토리얼

def f(n):
    if n<=1:
        return 1
    else:
        return n*f(n-1)

f(5)
'''
f(5) 5 * f(4) == 5  4 * 3 * 2
f(4) 4 * f(3) == 4 * 3 * 2
f(3) 3 * f(2) == 3 * 2
f(2) 2 * f(1) == 2 * 1
f(1) 1
'''

In [ ]:
# for로 문자열 거꾸로 출력하기
s = 'hello'
result = ''

for i in s:
    result = i + result

result
'''
result = 'h' + ''
result = 'e' + 'h'
result = 'l' + 'eh'
result = 'l' + 'leh'
result = 'o' + 'lleh'
'''
# 실무에서는 이렇게 거꾸로 만들지 않습니다.
# 슬라이싱이 일반 for문보다 8배 빠릅니다.
# s[::-1] 이렇게 쓰시면 됩니다.

In [ ]:
def reverse(s):
    if len(s) == 1:
        return s
    else:
        return reverse(s[1:])+s[0]

reverse('hello')

'''
reverse('hello') reverse(ello)+'h' == 'olle' + 'h'
reverse('ello')  reverse(llo)+'e'  == 'oll' + 'e'
reverse('llo')   reverse(lo)+'l'   == 'ol' + 'l'
reverse('lo')    reverse(lo)+'l'   == 'o'+'l'
reverse('o')     'o'
reverse('o')     
'''

In [ ]:
# 피보나치
# 재귀가 얼마나 비효율적인지 보여드리기 위해서 진행
# 1 1 2 3 5 8 13 21

curr = 1
next = 1
for i in range(1, 6):
    curr, next = next, curr + next

next

In [ ]:
# 피보나치 재귀

def f(n):
    if n == 1 or n==2 :
        return 1
    return f(n-1)+f(n-2)

for i in range(1,8):
    print(f(i))

In [ ]:
# 재귀의 비효율을 이렇게 해결할 수는 있다를 보여드리기 위함
# but 가능하면 for을 이용하세요 
from functools import lru_cache

@lru_cache(maxsize=None)
def fib(num):
    if num == 0:
        return 0
    if num == 1 or num == 2:
        return 1
    else:
        return fib(num-1) + fib(num-2)

fib(40)

## !! 연습문제

In [ ]:
# 1번
a = 'pithon'

def 함수1():
    def 함수2():
        print('love')
        
    print('I')
    함수2()
    return "python"
	

a = 함수1()
print(a)

# I
# love
# python

# 2번
# 실력이 있으신 분은 견고한 코드가 될 수 있도록 해주셔야 합니다.

# def plus(num1, num2):
#     try:
#         return num1 + num2
#     except:
#         return float('inf')

def plus(num1, num2):
    if type(num1) == int and type(num2) == int
	return num1+num2
return '정수가 아니기에 연산할 수 없습니다.'

# plus = lambda num1, num2 : num1 + num2
# minus = lambda num1, num2 : num1 - num2
# multiply = lambda num1, num2 : num1 / num2
# divide = lambda num1, num2 : num1 * num2

def minus(num1, num2):
	return num1-num2

def multiply(num1, num2):
	return num1*num2

def divide(num1, num2):
	return num1/num2

print(f'plus : {plus(10, 5)}')
print(f'minus : {minus(10, 5)}')
print(f'multiply : {multiply(10, 5)}')
print(f'divide : {divide(10, 5)}')

# 3번
def power(x,n):
    if n <= 1:
        return x
    return x*power(x, n-1)

power(5,3)

# 최승현님이 시간복잡도 고려해서 쓴 코드
# 이렇게 하면 재귀를 Log(N,2)만 호출할 수 있어서 이득입니다
# 분할정복을 보면 이해가 쉽다는 김영민님의 말씀
# def my_pow(num1, num2):
#     if num2 == 0:
#         return 1
#     if num2 == 1:
#         return num1
#     if num2 % 2 == 0:
#         half = my_pow(num1, num2 // 2)
#         return half * half
#     else:
#         half = my_pow(num1, num2 // 2)
#         return half * half * num1

In [ ]:
# 재귀함수를 사용해서 푼 것은 아니고
# 팩토리 함수라고도 하고, 클로져라고도 합니다
def 제곱(x):
    def 승수(y):
        return x**y
    return 승수

제곱3 = 제곱(3) # 수정되지 말아야 할 변수를 이렇게 실행해버리면 보호가 가능함
제곱3(4)

## list(리스트)

* 순서를 가진 데이터들의 집합(sequence)
* 리스트는 값의 변경 가능
* 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
* 리스트 안에 다른 딕셔너리, 셋, 튜플등을 넣는 것도 가능합니다.

In [ ]:
l = [1000, 2000, 3000, 1000, 2000, 3000]
id(l[0]), id(l[3])

In [ ]:
# 컨벤션 자료형(딕셔너리, 튜플, 셋, 리스트에서는)
# 메모리 효율을 위해
# 같은 값이 있을 경우 같은 곳을 가리키게 설계되어 있습니다.

In [ ]:
l = [10, 20, 30, 40]
l[0] = 1000
l

In [ ]:
s = 'hello world'
s[0] = k # error
s

In [ ]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

data

In [ ]:
for i in range(3):
    for j in range(3):
        data[i][j] *= 2

data

In [ ]:
'''
3         = 스칼라
[3, 4]    = 벡터
[[1,2,3], == 매트릭스(행렬)
[4,5,6],
[7,8,9]]

[[[1],[2],[3]], == 텐서(다차원, 3차원 이상)
[[4],[5],[6]],
[[7],[8],[9]]]

텐서플로우 : 인공지능 유명한 라이브러리
'''

In [ ]:
# 리스트에서 주의해야 하는 연산!
x = [10] * 3
x

[10, 10, 10]

In [ ]:
x[0] = 100
x

[100, 10, 10]

In [ ]:
x = [[10] * 2] * 3
x

[[10, 10], [10, 10], [10, 10]]

In [ ]:
x[0][0] = 100
x

[[100, 10], [100, 10], [100, 10]]

In [ ]:
x = [[[10] * 3] * 3] * 4
x[0][0][0] = 1000
x

[[[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]],
 [[1000, 10, 10], [1000, 10, 10], [1000, 10, 10]]]

In [ ]:
[1,2,3]+[1,2,3] # 많이 사용합니다

[1, 2, 3, 1, 2, 3]

In [ ]:
id(x[0][0]), id(x[0][1])

(140282089232896, 140282089232896)

In [ ]:
l = [10, 20, 30]
type(l), dir(l), help(l)

## 리스트의 메소드

In [ ]:
# 'append', 'clear', 'copy', 'count', 'extend', 'index', 
# 'insert', 'pop', 'remove', 'reverse', 'sort'

In [ ]:
l = [1,2,3]
l.append(4) # 요소 한개 추가
l

In [ ]:
l = [1,2,3]
l.extend(4) # error
l

In [ ]:
l = [1,2,3]
l.extend([1,2,3]) # 요소 여러개 추가
l

In [ ]:
l = [1,2,3]
l.extend({'one':10, 'two':20}) # 요소 여러개 추가
l

In [ ]:
l = [1,2,3]
l.extend({10,20,30}) # 요소 여러개 추가
l

In [ ]:
l = [10, 20, 30]
l.clear()
l

In [ ]:
l = [10, 20, 30]
l = []
l

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게 # 등호 사용하면 같은 곳을 가리킴(동일한 주소)
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 2000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
# 이 이상의 내용은 뒤에 얕은 복사와 깊은 복사에서 알아봅니다.
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게.copy() # 얕은 복사
# 서울과일가게 = 제주과일가게.[:]  # 얕은 복사
서울과일가게[0] = ['바나나', 2000]
서울과일가게, 제주과일가게

([['바나나', 2000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 1000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
s = 'hello world'
s[:5]

In [ ]:
l = [10, 20, 30, 40, 50]
l[:3]
ll = l[:]
ll

In [ ]:
id(l), id(ll)

In [ ]:
제주과일가게 = [['바나나', 1000], ['수박', 2000], ['딸기', 3000]]
서울과일가게 = 제주과일가게[:]  # 얕은 복사
id(서울과일가게[0]), id(제주과일가게[0])
서울과일가게[0][1] = 3000
서울과일가게, 제주과일가게 # 같아짐 ??

([['바나나', 3000], ['수박', 2000], ['딸기', 3000]],
 [['바나나', 3000], ['수박', 2000], ['딸기', 3000]])

In [ ]:
l = [1,2,3]
ll = l[:]
l[0] = 1000
l, ll

In [ ]:
l = [1,2,3]
ll = l.copy()
l[0] = 1000
l, ll

In [ ]:
l = [1,2,3,1,1,1,2,3,2,3,1,1]
l.count(1)

In [ ]:
a = [10, 1, 1, 11, 2, 23, 12]
a.index(11)

In [ ]:
a = [10, 20, 30]
a.insert(2, 10000000)
a

In [ ]:
l = [10, 20, 30, 40, 50]
l.pop(0)
l

In [ ]:
# append : 맨 뒤에 추가
# pop : 맨 뒤에서 값을 뽑아내고, index가 들어갈 경우 index에서 뽑습니다.
# insert : index에 값을 삽입하고, 원래 있던 값을 뒤로 밉니다.

In [ ]:
l = [10, 20, 30, 40, 50]
l.remove(20) # 예를 들어 for을 돌면서 remove를 하지 않기를 바랍니다. len같은거 오류 생길수도..

In [ ]:
l = [20, 20, 20, 20]
for i in range(len(l)):
    print(len(l)) # len가 계속 변하기 때문에 의도치 않은 에러가 날 수 있어요.
    l.remove(20)

In [ ]:
# 무한 반복입니다.
l = [20, 20, 20, 20]
for i in l:
    print(len(l))
    l.append(20)

In [ ]:
l = [10, 20, 30, 40, 50, 20, 20, 20]
for i in range(l.count(20)):
    l.remove(20)
l

[10, 30, 40, 50]

In [ ]:
# 실무에서 어떤 값을 전부 없애거나
# 어떤 값을 전부 찾는 것
# 조건에 부합하는 것
def f(x):
    return x != 20
list(filter(f, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
filter(f, [10, 20, 30, 40, 50, 20, 20, 20])

In [ ]:
range(100)

In [ ]:
for i in filter(f, [10, 20, 30, 40, 50, 20, 20, 20])
    print(i)

In [ ]:
list(filter(lambda x: x!=20, [10, 20, 30, 40, 50, 20, 20, 20]))

[10, 30, 40, 50]

In [ ]:
l = [ 5, 6, 4, 3, 8, 9, 1]
l.reverse() # 역 정렬이 아니고 역순이며 원본을 만집니다.
l

In [ ]:
l = [ 5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l))
print(l)

In [ ]:
# l.reverse() : 리스트에 메서드 이며, return None입니다! 원본이 역순, 원본을 만집니다.
# reversed() : 빌트인펑션이며, return 역순 입니다! 원본을 만지지 않습니다.

In [ ]:
l = [ 5, 6, 4, 3, 8, 9, 1]
print(l.reverse())
l

In [ ]:
l = [ 5, 6, 4, 3, 8, 9, 1]
print(list(reversed(l)))
print(l)

## sort

In [ ]:
l = [1,4,4,8,3,2,4,9,8,7,6]
l.sort() # 원본을 만지고, 반환값은 None
l

[1, 2, 3, 4, 4, 4, 6, 7, 8, 8, 9]

In [ ]:
print(sorted([1,4,4,8,3,2,4,9,8,7,6]))
# 원본을 만지지 않고, 반환값은 정렬된 값 
print(l)

[1, 2, 3, 4, 4, 4, 6, 7, 8, 8, 9]
[9, 8, 8, 7, 6, 4, 4, 4, 3, 2, 1]

In [ ]:
# 이렇게 실무에서 진행하진 않습니다.
l = [1,4,4,8,3,2,4,9,8,7,6]
l.sort()
l.reverse()
l

In [ ]:
l = [1,4,4,8,3,2,4,9,8,7,6]
l.sort(reverse=True)
l

[9, 8, 8, 7, 6, 4, 4, 4, 3, 2, 1]

In [ ]:
l = [1,4,4,8,3,2,4,9,8,7,6]
sorted(l, reverse = True)

In [ ]:
l = [[1, 10, 'leehojun'], 
     [20, 30, 'hojun'], 
     [10, 20, 'weniv!'], 
     [1, 2, 'hello world'], 
     [55, 11, 'sun']]

# 1. 글자 수 대로 정렬해주세요.
def f(x):
    return len(x[2])

print(sorted(l, key=f, reverse=False))
print(sorted(l, key=lambda x:len(x[2]), reverse=False))

# 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
def f2(x):
    return x[0]

print(sorted(l))
print(sorted(l, key=f2))
print(sorted(l, key=lambda x:x[0]))

# 3. 중앙에 위치한 값대로 정렬해주세요.

def f3(x):
    return x[1]

print(sorted(l))
print(sorted(l, key=f3))
print(sorted(l, key=lambda x:x[1]))

l = [[1, 10, 32], 
     [20, 30, 11], 
     [10, 20, 22], 
     [1, 2, 13], 
     [55, 11, 44]]


# 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

def f4(x):
    return x[0] + x[1] + x[2]

def f5(x):
    return sum(x)

print(sorted(l, key=f4))
print(sorted(l, key=f5))
print(sorted(l, key=lambda x: sum(x)))
print(sorted(l, key=sum))

[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[55, 11, 'sun'], [20, 30, 'hojun'], [10, 20, 'weniv!'], [1, 10, 'leehojun'], [1, 2, 'hello world']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 10, 'leehojun'], [1, 2, 'hello world'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [10, 20, 'weniv!'], [20, 30, 'hojun'], [55, 11, 'sun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 'hello world'], [1, 10, 'leehojun'], [55, 11, 'sun'], [10, 20, 'weniv!'], [20, 30, 'hojun']]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]
[[1, 2, 13], [1, 10, 32], [10, 20, 22], [20, 30, 11], [55, 11, 44]]

In [ ]:
# https://codingdojang.com/scode/408
# 좌표 평면 문제가 나오면 차원 축소나 차원 확대가 가능한지 확인

point = [1, 3, 4, 8, 13, 17, 20]
point[1:]
# [1, 3, 4, 8, 13, 17, 20]
# [3, 4, 8, 13, 17, 20]

[3, 4, 8, 13, 17, 20]

In [ ]:
list(zip(point, point[1:]))

[(1, 3), (3, 4), (4, 8), (8, 13), (13, 17), (17, 20)]

In [ ]:
def f(x):
    return abs(x[0]-x[1])

sorted(zip(point, point[1:]), key = f)

[(3, 4), (1, 3), (17, 20), (4, 8), (13, 17), (8, 13)]

In [ ]:
def f(x):
    return abs(x[0]-x[1])

sorted(zip(point, point[1:]), key = f)[0]

(3, 4)

In [ ]:
sorted(zip(point, point[1:]), key=lambda x : abs(x[1] - x[0]))[0]

(3, 4)

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120835
# 응급도
# [3, 76, 24]
# 우선순위
# [3, 1, 2]

l = [3, 76, 24]
정렬된 값 = sorted(l, reverse = True)
정렬된 값 # [ 76, 24, 3]
# 우리가 원하는 값 [2, 0, 1]

결과값 =  [
    [l.index(정렬된값[0])]
    [l.index(정렬된값[1])]
    [l.index(정렬된값[2])]
]
결과값

## !! 오늘 배운 것 정리

1. 함수
    1. 코드 덩어리(정말 쉽게 설명하면)
    2. 코드를 재사용 할 수 있으며, 실수를 줄일 수 있습니다.
    3. 코드의 구조를 한 눈에 파악할 수 있습니다.
    4. 형태
        ```python
        # 파선아실(파라미터는 선언할 때, 아규먼트는 실제)
        def function(x, y):
            z = x + y
            return z
        print(f'function(5, 7) = {function(5, 7)}')
        ```
    5. 함수 안에 함수와 함수 안에 변수는 밖에서 접근이 불가합니다.
    6. 지역 변수와 전역 변수
        * 전역변수 : 전역에서 접근할 수 있는 변수
        * 지역변수 : 함수 내에서만 접근할 수 있는 변수
        ```python
        # 전역변수는 각 함수에서 접근은 가능하지만 수정이 되진 않습니다.
        # only read
        # global이라는 키워드로 밖에 있는 변수를 수정할 수도 있지만 권하지 않습니다.
        # 권하지 않기에 요약자료에도 없습니다.
        a = 100
        def f():
            a = a + 1
        f()
        ```
    7. 재귀함수
        * 내가 나를 호출하는 것입니다.
        * 재귀 <-> for문은 대부분 호환이 가능합니다.
        * 반복문 사용하시기를 권합니다!
        * 어렵고 효율도 안좋아요! (얼마나 효율이 안좋은지도 확인해보겠습니다.)
        * 필수적으로 사용하는 곳이 있습니다.
        ```python
        def f(n):
            if n <= 1:
                return 1
            else:
                return n * f(n-1)

        f(5)
        ```
2. list (리스트)
    * 순서를 가진 데이터들의 집합(Sequence)
    * 리스트는 값의 변경
    * 리스트 안에 리스트로 다차원의 리스트를 만드는 것도 가능
    * 리스트 안에 다른 딕셔너리, 셋, 튜플 등을 넣는 것도 가능합니다
    ```python
    l = [10, 20, 30, 40]
    print(l[0]) # 순서로 값 호출
    l[0] = 1000 # 값의 변경 가능
    print(l)

    data = [[1, 2, 3], # 다차원 배열
        [4, 5, 6],
        [7, 8, 9]]

    print(data)
    ```
    * 리스트 메서드
        * append : 맨 뒤에 값 추가
        * clear : 모든 값 지우기
        * copy : 얕은 복사
        * count : 갯수 세기
        * extend : 확장하기(뒤에 순회 가능한 객체가 들어오면 순차적으로 추가)
        * index : 위치 찾기
        * insert : 삽입하기
        * pop: 맨 뒤에서 값 꺼내기(index가 들어오면 index에서 값 꺼냄)
        * remove : 값 지우기
        * reverse : 역순
        * sort : 정렬

## 깊은 복사와 얕은 복사

In [ ]:
# 아무런 복사도 이뤄지지 않은 상태
l = [[1,2,3] , [4,5,6] ]
ll = l
ll[0][0] = 1
l, ll

([[1, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사
l = [1000,2,3,4,5,6] 
ll = l.copy()
ll[0] = 10
l, ll

([1000, 2, 3, 4, 5, 6], [10, 2, 3, 4, 5, 6])

In [ ]:
l = [1000, 2000, 3000, 1000, 1000, 1000]
id(l[0]), id(l[3]), id(l[4]), id(l[4])

(140256340174640, 140256340174640, 140256340174640, 140256340174640)

In [ ]:
# 얕은 복사
l = [1000,2,3,4,5,6] 
ll = l.copy()
id(l[0]), id(ll[0]) # 같은 값이 나오니까 같은 객체를 가리키고 있다?

(140256340174192, 140256340174192)

In [ ]:
# 얕은 복사
l = [1000,2,3,4,5,6] 
ll = l.copy()
id(l), id(ll)

(140256340546560, 140256340344000)

In [ ]:
# 얕은 복사
l = [[1000,2,3] , [4,5,6] ]
ll = l.copy()
ll[0][0] = 10
l, ll

([[10, 2, 3], [4, 5, 6]], [[10, 2, 3], [4, 5, 6]])

In [ ]:
id(l[0]), id(ll[0])

(140256340174640, 140256340146240)

In [ ]:
# 얕은 복사
l = [[1000,2,3] , [4,5,6] ]
ll = l.copy()
ll[0] = 100 # 얕은 복사는 1 depth만
l, ll

([[1000, 2, 3], [4, 5, 6]], [100, [4, 5, 6]])

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, 3], [4, 5, 6]]
ll = copy.deepcopy(l)
ll[0][0] = 10
id(l[0]), id(ll[0])

(140256340636160, 140256457361088)

In [ ]:
# 깊은 복사
import copy

l = [[1, 2, [1,[999, 998]]], [4, 5, [2, [333, 332]]]]
ll = copy.deepcopy(l)
ll[0][2][1][0] = 10
l, ll

([[1, 2, [1, [999, 998]]], [4, 5, [2, [333, 332]]]],
 [[1, 2, [1, [10, 998]]], [4, 5, [2, [333, 332]]]])

* 얕은 복사는 1 depth(계층?)만 복사합니다.
* 깊은 복사는 n depth까지 모두 복사합니다.

* 나를 이해시키는 단 하나의 코드는 반드시 존재합니다.

In [ ]:
# 얕은 복사
l = [[1,2,3], [4,5,6]]
ll = l[:]
l[0] = 100
l, ll

([100, [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

In [ ]:
# 얕은 복사 이건 둘다 바뀜 
l = [[1,2,3], [4,5,6]]
ll = l[:] # copy나 슬라이싱의 문제가 아님
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# sorted도 얕은 복사!
l = [[1,2,3], [4,5,6]]
ll = sorted(l)
l[0][0] = 100
l, ll

In [ ]:
# 얕은 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep 해두시고
# for문 배운다음에 다시 와서 복습하기를 권함
l = [[1,2,3], [4,5,6]]
ll = [i for i in l] 
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[100, 2, 3], [4, 5, 6]])

In [ ]:
# 1단계 복사
# 리스트 컴프리헨션은 안배운 내용이니 keep 해두시고
# for문 배운다음에 다시 와서 복습하기를 권함
l = [[1,2,3], [4,5,6]]
ll = [i[:] for i in l] 
l[0][0] = 100
l, ll

([[100, 2, 3], [4, 5, 6]], [[1, 2, 3], [4, 5, 6]])

## 다차원 리스트

In [ ]:
a = [[1, 2, 3],
     [11, 22, 33],
     ['leehojun', 20, 30]]

# 문제 : jun만 뽑아주세요!
print(a[2][0][5:8])
print(a[2][0][-3:])
print(a[2][0][5:])

jun
jun
jun

## 리스트에서 built-in function을 활용

* 알아야 하는 built-in functon
```
A
abs()
all()
any()

B
bin()
bool()

C
chr()

D
dict()
dir()

E
enumerate()
eval()

F
filter()
float()

G
globals()

H
help()
hex()

I
id()
input()
int()
isinstance()
issubclass()
iter()

L
len()
list()
locals()

M
map()
max()
min()

N
next()

O
object()
oct()
open()
ord()

P
pow()
print()
property()


R
range()
repr()
reversed()
round()

S
set()
setattr()
slice()
sorted()
staticmethod()
str()
sum()
super()

T
tuple()
type()

V
vars()

Z
zip()
```

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8]
max(a) #최댓값
min(a) #최솟값
sum(a) #전체값의 합

36

In [ ]:
#2차원
a = [[1, 2, 3, 'a'],
     [11, 22, 33, 'aaa'],
     [10, 2000, 30, 'aa']]

max(a, key=lambda x:x[1])
max(a, key=lambda x:len(x[3]))

[11, 22, 33, 'aaa']

In [ ]:
# 이름, 별점, 객실수, 가격
호텔 = [
    ['이스트소프트 호텔', 5, 100, 155000],
    ['삼스트소프트 호텔', 4, 80, 145000],
    ['사스트소프트 호텔', 3, 70, 135000], 
    # 마지막에 콤마를 허락하는 언어는 제한적(특히 JSON에서는 엄격해서 허락하지 않습니다.)
]
max(호텔, key=lambda x:x[2]) # 가장 가격이 높은 것을 뽑아낼 수 있음
min(호텔, key=lambda x:x[2]) # 가장 가격이 낮은 것을 뽑아낼 수 있음

['사스트소프트 호텔', 3, 70, 135000]

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]

max(a, key=lambda x:x[1]) # 키값 기준으로 가장 큰걸 뽑음
min(a, key=lambda x:x[1])
# sum(a) error
sum(a, [])

## 리스트의 순회

In [ ]:
#1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]

for i in a: # for 변수 in 순회가능한 객체
     print(i)

1
2
3
4
5
6
7
8

In [ ]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    print(i)
    print('---')
print('end')

[1, 2, 3]
---
[11, 22, 33]
---
[13, 20000, 300000]
---
end

In [ ]:
#2차원
# for 중첩해서 2차원 순회 가능
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]

for i in a:
    for j in i:
        print(j)
        print('---')
print('end')

1
---
2
---
3
---
11
---
22
---
33
---
13
---
20000
---
300000
---
end

## range

In [ ]:
# range(start, stop, step) 
# 슬라이싱과 같은 규칙
# 슬라이싱은 ':'(콜론)으로 연결되어 있고
# range는 ','(콤마)로 연결되어 있습니다.

print(list(range(100))) 
# python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
print(list(range(5, 10)))

print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2)))
print(sum(list(range(0, 101))))
print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
5050

## list comprehension

In [ ]:
# l = [1,2,3,4, ...]
# list(range(1,101))
list(range(1, 101))
for i in range(1, 101):
    l.append(i)
l

In [ ]:
# l = []
# for i in range(1, 11):
#     l.append(i**i)
# l

# 사용법으로는 [ ]안에 for문을 넣고 필요한 구문을 이어 넣어준다음
# 가장 앞부분에 실제 리스트에 append 해줄 값을 넣어주면 됩니다.

l = [i**i for i in range(1, 11)]
l

l [i for i in range(1, 11)]
l

In [ ]:
l = []
for i in range(1, 100):
    if i %3 == 0 or i %5 == 0:
        l.append(i)
## 위와 동일함
[i for i in range(1, 100) if i %3 == 0 or i %5 == 0]

## tuple (튜플)

- 튜플은 순서가 있는 시퀀스형 자료형입니다.
- 참조값은 변경이 불가능(immutable) 합니다.
- 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
- 값의 중복을 허락합니다.
- 튜플은 소괄호() 사용

In [ ]:
t = (10, 20, 30)
t[1] = 1000

TypeError: ignored

In [ ]:
l = [1, 2, 3]
t = (l, 20, 30) # 불변인 것은 t가 l을 참조하고 있다는 것이 불변
l[0] = 1000
t

([1000, 2, 3], 20, 30)

In [ ]:
t = (10, 20, 30, 40, 50)
t[:3]

In [ ]:
type(t), dir(t)

(tuple,
 ['__add__',
  '__class__',
  '__class_getitem__',
  '__contains__',
  '__delattr__',
  '__dir__',
  '__doc__',
  '__eq__',
  '__format__',
  '__ge__',
  '__getattribute__',
  '__getitem__',
  '__getnewargs__',
  '__gt__',
  '__hash__',
  '__init__',
  '__init_subclass__',
  '__iter__',
  '__le__',
  '__len__',
  '__lt__',
  '__mul__',
  '__ne__',
  '__new__',
  '__reduce__',
  '__reduce_ex__',
  '__repr__',
  '__rmul__',
  '__setattr__',
  '__sizeof__',
  '__str__',
  '__subclasshook__',
  'count',
  'index'])

In [ ]:
t = (10, 20, 30, 40, 50, 20)
t.index(20), t.count(20)

(1, 2)

In [ ]:
t = tuple('suhason')
t
t = tuple()
t
t = tuple(range(10))
t
t = (1) 
t
t = (1,) #원소를 하나씩 넣고 싶을 때는 콤마(,)를 사용해줍니다.
t

## dict (딕셔너리, 사전형)

- 딕셔너리는 순서가 없는 자료형입니다.
- 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
- 값의 변경이 가능합니다.
- 다른 자료형을 입력할 수 있습니다.
- 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d
d['one']

'하나'

In [ ]:
d['two'] = '투'
d

{'one': '하나', 'two': '투', 'three': '셋'}

In [ ]:
d = {} # dict
type(d)

d = {10} # set
type(d)

d = dict()
type(d)

d = {'one': 1}
type(d)

dict

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.items()

dict_items([('one', '하나'), ('two', '둘'), ('three', '셋')])

In [ ]:
dict([('one', '하나'), ('two', '둘'), ('three', '셋')])

{'one': '하나', 'two': '둘', 'three': '셋'}

In [ ]:
list(zip('ABC', '123', 'abc'))

dict(zip('ABC', '123')) #형변환, zip으로 mapping하고 dict로 만듬

{'A': '1', 'B': '2', 'C': '3'}

In [ ]:
# dict와 list를 사용해서 아래와 같은 형태로 데이터를 만들어주세요


# 원하는 형태 {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}
dict(zip('ABC', ([10,20], [20,30], [30, 40])))

# l = [10, 20, 30, 40]
# dict(zip('ABC', zip(l, l[1:])))
# dict(zip('ABC', [list(elem) for elem in zip([10, 20, 30], [20, 30, 40])]))

{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

In [ ]:
'B' in {'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}

True

In [ ]:
len({'A': [10, 20], 'B': [20, 30], 'C': [30, 40]})

3

In [ ]:
# 파이썬은 스위치가 없어서 딕셔너리로 구현하기도 함
# 공부해두시면 좋습니다.
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day)

switch(7)
switch(8) # get을 사용하면 None을 줍니다.

In [ ]:
def switch(day):
    return {
        1 : '월요일',
        2 : '화요일',
        3 : '수요일',
        4 : '목요일',
        5 : '금요일',
        6 : '토요일',
        7 : '일요일',
    }.get(day, '요일을 찾지 못했습니다.')

switch(8) # get을 사용하면 못찾는 값을 넣었을 때 default 값을 줍니다. get 메소드.

In [ ]:
%%timeit

s = 0
for i in range(10000):
    s += i

833 µs ± 251 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
%%timeit

sum(range(10000))

382 µs ± 94.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.keys()

dict_keys(['A', 'B', 'C'])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.values()

dict_values([[10, 20], [20, 30], [30, 40]])

In [ ]:
{'A': [10, 20], 'B': [20, 30], 'C': [30, 40]}.items()

dict_items([('A', [10, 20]), ('B', [20, 30]), ('C', [30, 40])])

In [ ]:
dict.fromkeys('sonsuha')

{'s': None, 'o': None, 'n': None, 'u': None, 'h': None, 'a': None}

In [ ]:
dict.fromkeys('sonsuha', 100)

{'s': 100, 'o': 100, 'n': 100, 'u': 100, 'h': 100, 'a': 100}

In [ ]:
d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
d.update({'one' : 1, 'two' : 2})
d

## 딕셔너리의 순회

In [ ]:
# key만 순회합니다.
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(i)

two
three

In [ ]:
d = {'two' : 2, 'three' : '셋'}
for i in d:
    print(d[i])

2
셋

## 언패킹

In [ ]:
# 패킹 : 1, 2, 3 => [1 ,2, 3]
# 언패킹 : [1 ,2, 3] => 1, 2, 3

In [ ]:
a,b,c = 10, 20, 30
a

10

In [ ]:
a,b,c = (10, 20, 30) # 소괄호든 대괄호든 상관 없습니다
a

10

In [ ]:
for i, j in [[10, 20], [30, 40], [50, 60]]:
    print(i, j)

10 20
30 40
50 60

In [ ]:
for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
    print(i, j, k)

10 20 [1, 2]
30 40 [3, 4]
50 60 [5, 6]

In [ ]:
# swap
a = 10
b = 15
a, b = b, a
a, b

(15, 10)

In [ ]:
for i , j in d.items():
     print(i, j)

d.items()

## max를 이용한 dict 최대 value key값 가져오기

In [ ]:
d = {
    'test1' : 10,
    'test2' : 20,
    'test3' : 31,
    'test4' : 11,
}
max(d.values()) # 이걸로는 뭔가 찾아내기가 힘듭니다.
max(d, key=lambda x: d[x])
max(d, key=d.get) # 많이 사용하는 코드입니다.

31

## set (셋, 집합)

* 집합 자료형은 중복을 허용하지 않으며
* 순서가 없는 자료형

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
print(n)

{1, 2, 3, 4}

In [ ]:
s = set('hello world')
print(s)

{'d', 'o', 'h', 'e', ' ', 'w', 'l', 'r'}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.add(1000)
print(n)

{1, 2, 3, 4, 1000}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.update({10, 20})
print(n)

{1, 2, 3, 4, 20, 10}

In [ ]:
n = set([1, 1, 2, 2, 3, 3, 4])
n.remove(1)
print(n)

{2, 3, 4}

* pop은 실무에서 사용하지 않습니다. 값을 랜덤하게 뽑아내기 때문입니다. 높은 확률로 앞에서부터 뽑아내긴 하지만 확률에 기대는 코딩을 하지 않기를 바랍니다. 공식문서에서는 랜덤하게 뽑아낸다고 되어 있습니다.
* https://docs.python.org/3.11/library/stdtypes.html#frozenset.pop

In [ ]:
# 교집합 별 3개
a = {1, 2, 3}
b = {3, 4, 5}
a & b
a.intersection(b)

{3}

In [ ]:
# 합집합
a = {1, 2, 3}
b = {3, 4, 5}
a | b
a.union(b)

{1, 2, 3, 4, 5}

In [ ]:
# 차집합
a = {1, 2, 3}
b = {3, 4, 5}
a - b
a.difference(b)

In [ ]:
s = {1, 2, 3, 4}
ss = {3, 4, 5, 6}
s.issubset({1, 2})
s.issubset({1, 2, 3, 4, 5, 6, 7, 8})

True

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120903?language=python3
def solution(s1, s2):
    return len(set(s1) & set(s2))

In [ ]:
# https://school.programmers.co.kr/learn/courses/30/lessons/120888
# my_string     result
# "people"      "peol"

In [ ]:
# my_string     result
# "people"      "peol"

result = ''
for i in "people":
    if i not in result:
        result +=i
result

'peol'

In [ ]:
def solution(my_string):
    return set(my_string)

solution('people')

{'e', 'l', 'o', 'p'}

In [ ]:
def solution(my_string):
    return ''.join(set(my_string))

solution('people')

'olep'

In [ ]:
{'e', 'l', 'o', 'p'}
result = 'p'

def solution(my_string):
    return ''.join(set(my_string))

solution('people')

In [ ]:
def solution(my_string):
    집합 = set(my_string)
    result = ''
    for i in my_string:
        if i in 집합:
            result += i
            집합.remove(i)
    return result

solution('people')

## !! 연습문제

In [ ]:
# 1번
student_score = {
		'홍의': 97,
		'원희': 60,
		'동해': 77,
		'변수': 79,
		'창현': 89,
}
# 총점
print(sum(student_score.values()))

# 평균 점수
avg = sum(student_score.values())/len(student_score)
print(avg)

# 점수 가장 높은 학생과 그 점수
print(max(student_score, key = student_score.get))
print(student_score.get(max(student_score, key = student_score.get)))
# 점수 가장 낮은 학생과 그 점수
print(min(student_score, key = student_score.get))
print(student_score.get(min(student_score, key = student_score.get)))

# 2번
like = ['볶음밥', '라면', '국수', '파스타', '치킨', '짜장면', '국밥']
dislike = ['국밥', '짬뽕', '찜닭', '파스타', '국수', '카레', '덮밥']
set(like) - set(dislike)

402
80.4
홍의
97
원희
60

{'라면', '볶음밥', '짜장면', '치킨'}

## !! 오늘 배운 것 정리

1. sort
    * sorted는 원본을 만지지 않는 'built-in function', 정렬입니다.
    * sort는 원본을 만지는 '리스트 메서드', 정렬입니다.
    * sort의 다양한 예
        ```python
        l = [[1, 10, 'leehojun'], 
            [20, 30, 'hojun'], 
            [10, 20, 'weniv!'], 
            [1, 2, 'hello world'], 
            [55, 11, 'sun']]

        # 1. 글자 수 대로 정렬해주세요.
        def f(x):
            return len(x[2])

        print(sorted(l, key=f, reverse=False))
        print(sorted(l, key=lambda x:len(x[2]), reverse=False))

        # 2. 맨 앞에 위치한 숫자대로 정렬해주세요.
        def f2(x):
            return x[0]

        print(sorted(l))
        print(sorted(l, key=f2))
        print(sorted(l, key=lambda x:x[0]))

        # 3. 중앙에 위치한 값대로 정렬해주세요.

        def f3(x):
            return x[1]

        print(sorted(l))
        print(sorted(l, key=f3))
        print(sorted(l, key=lambda x:x[1]))

        l = [[1, 10, 32], 
            [20, 30, 11], 
            [10, 20, 22], 
            [1, 2, 13], 
            [55, 11, 44]]
            
        # 4. 3개의 전체 합이 작은 순서대로 출력해주세요.

        def f4(x):
            return x[0] + x[1] + x[2]

        def f5(x):
            return sum(x)

        print(sorted(l, key=f4))
        print(sorted(l, key=f5))
        print(sorted(l, key=lambda x: sum(x)))
        print(sorted(l, key=sum))
        ```

2. 깊은 복사와 얕은 복사
    1. 깊은 복사 : 완전히 다른 객체를 만듭니다.(깊은 복사는 n 계층까지 모두 복사)
        ```python
        # 깊은 복사
        import copy

        l = [[1, 2, 3], [4, 5, 6]]
        ll = copy.deepcopy(l)
        ll[0][0] = 10
        l, ll
        ```
    2. 얕은 복사 : 내용물은 같은 다른 객체를 만듭니다.(얕은 복사는 1 계층만 복사)
        ```python
        # 얕은 복사
        l = [[1, 2, 3], [4, 5, 6]]
        ll = l[:] # l.copy, sorted를 써도 마찬가지입니다.
        l[0][0] = 100
        l, ll
        ```

3. range
    ```python
    # range(start, stop, step) 
    # 슬라이싱은 ':'(콜론)으로 연결되어 있고
    # range는 ','(콤마)로 연결되어 있습니다.

    print(list(range(100))) 
    # python 2.x에서 python 3.x에 range를 사용하고 싶다면 xrange(10)
    print(list(range(5, 10)))

    print(list(range(0, 101, 2))) #짝수
    print(list(range(1, 101, 2))) #홀수
    print(list(range(100, 1, -2)))
    print(sum(list(range(0, 101))))
    print(sum(range(0, 101))) # 이렇게 형 변환을 하지 않고 sum하시는 것을 권합니다.
    ```

4. list comprehension
    ```python
    # l = []
    # for i in range(1, 11):
    #     l.append(i**i)
    # l

    l = [i**i for i in range(1, 11)]
    l
    ```

5. tuple
    - 튜플은 순서가 있는 시퀀스형 자료형입니다.
    - 참조값은 변경이 불가능(immutable) 합니다.
        ```python
        t = (10, 20, 30)
        t[1] = 1000 # error
        ```
    - 다른 자료형을 입력할 수 있으며, 튜플 안에 튜플로 다차원의 튜플을 만드는 것도 가능합니다.
    - 값의 중복을 허락합니다.
    - 메서드는 index와 count밖에 없습니다.

6. dict (딕셔너리, 사전형)
    - 딕셔너리는 순서가 없는 자료형입니다.
    - 사전형은 Key와 Value 가 하나의 묶음으로 이루어진 자료 체계입니다.
    - 값의 변경이 가능합니다.
        ```python
        d = {'one' : '하나', 'two' : '둘', 'three' : '셋'}
        print(d['one']) # 호출
        d['two'] = '투' # 변경
        d
        ```
    - 다른 자료형을 입력할 수 있습니다.
    - 키의 중복은 허락하지 않고, 값의 중복을 허락합니다.
    - dict를 활용한 switch 만들기
        ```python
        def switch(day):
            return {
                1 : '월요일',
                2 : '화요일',
                3 : '수요일',
                4 : '목요일',
                5 : '금요일',
                6 : '토요일',
                7 : '일요일',
            }.get(day, '요일을 찾지 못했습니다.')

        switch(8) 
        ```
    - max를 이용한 dict 최대 value의 key값 가져오기
        ```python
        d = {
            'test1': 10,
            'test2': 20,
            'test3': 31,
            'test4': 11,
        }

        # max(d.values()) # 이걸로는 뭔가 찾아내기 힘듭니다.
        max(d, key=lambda x: d[x])
        max(d, key=d.get) #많이 사용하는 코드입니다.
        ```

7. 언패킹
    * 언패킹 예
        ```python
        for i, j, k in [[10, 20, [1, 2]], [30, 40, [3, 4]], [50, 60, [5, 6]]]:
            print(i, j, k)
        ```
    * swap 예
        ```python
        # swap
        a = 10
        b = 15
        a, b = b, a
        a, b
        ```

8. set (셋, 집합)
    * 집합 자료형은 중복을 허용하지 않으며
    * 순서가 없는 자료형
        ```python
        n = set([1, 1, 2, 2, 3, 3, 4])
        print(n)
        ```
    * 메서드
        - add : 값 추가
        - update : 값 여러개 추가
        - remove : 제거
        - copy : 값 복사
        - union : 합집합
        - intersection : 교집합
        - difference : 차집합
        - issubset : 부분집합

## (질의응답) max(student_score, key=student_score.get)

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]
l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = [10, 20, 30, 40, 50, 60, 70, 80]

max(l, key=함수)

2 30
4 50
5 60
3 40
6 70
0 10
7 80
1 20

7

In [ ]:
def 함수(x):
    print(x, ll[x])
    return ll[x]

l = [2, 4, 5, 3, 6, 0, 7, 1]
ll = ['hello', 'a', 'bb', 'ccc', 'a', 'bbbb', 'hello world', 'cc']

max(l, key=함수)

2 bb
4 a
5 bbbb
3 ccc
6 hello world
0 hello
7 cc
1 a

6

In [ ]:
def 함수(x):
    return d.get(x)

d = {
      'test1': 10,
      'test2': 20,
      'test3': 31,
      'test4': 11,
}

# max(d, key=lambda x: d[x])
max(d, key=d.get)

'test3'

In [ ]:
# return에 초점을 맞춰주세요.
def 함수(x):
    return len(x)
l = ['a', 'bb', 'ccc', 'dd']

max(l, key=함수)
max(l, key=len)

'ccc'

In [ ]:
def 함수(x):
    return d.get(x)

수학 = {
    '학생1': 10,
    '학생2': 20,
    '학생3': 31,
    '학생4': 11,
}

과학 = {
    '학생1': 11,
    '학생2': 17,
    '학생3': 13,
    '학생4': 11,
    '학생5': 25,
    '학생6': 100,
}

수학점수가가장큰사람 = max(수학, key=수학.get)
과학점수가가장큰사람 = max(과학, key=과학.get)
max(수학, key=과학.get)
sorted(수학, key = 과학.get) # 깊은 복사가 아니라 얕은 복사임

['학생1', '학생4', '학생3', '학생2']

In [ ]:
max(student_score, key=student_score.get)

## (질의응답) 함수의 아규먼트 순서

In [ ]:
def f(a, b, c):
    print(a, b, c)

# f() # error
# f(100, 10) # error
f(a=100, b=200, c=300)
f(c=300, a=100, b=200) #실무에서 이렇게 순서를 바꿔서 넣지 않고 보통 순서를 지켜줍니다.

# 실무에서 언제 사용이 될까요?
# 파라미터, 아규먼츠가 매우 많을 때
# 이런 함수가 나오면 이 함수가 무엇을 뜻하는 것일까요?
# addNewControl("Title", 20, 50, 100, 50, 200, 300, 150)
# addNewControl(title="Title", height=20, width=50, textlen = 100, ...)
# 어? 컨트롤 박스를 만드는 구나...

In [ ]:
def f(a=10, b=20, c=30): # 이렇게 하면 디폴트로 들어감
    print(a, b, c)

f()
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

10 20 30
100 10 30
100 200 300
100 200 300

In [ ]:
def f(a, b=20, c=10): # 순서대로 안주어야 하기 때문에 a에 값을 넣지 않았습니다.
    print(a, b, c)

# f() # error
f(100, 10)
f(a=100, b=200, c=300)
f(c=300, a=100, b=200)

## (질의응답) zip, map 등 한 번 순회가 되면 순회가 안되는 이유

In [ ]:
a = [1, 2, 3]
b = ['a', 'b', 'c']

z = zip(a, b)
print(list(z)) # [(1, 'a'), (2, 'b'), (3, 'c')]

# zip 객체는 한 번 사용되었으므로 빈 리스트가 반환됩니다.
print(list(z)) # []

[(1, 'a'), (2, 'b'), (3, 'c')]
[]

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
z = zip(li, st)

for i in z:
    print(i)

for i in z:
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
li = [1, 2, 3]
st = ['a', 'b', 'c']
i = iter(zip(li, st))
next(i)
next(i)
next(i)
next(i) # StopIteration

StopIteration: ignored

In [ ]:
li = [1, 2, 3]
z = map(lambda x:x**2, li)

for i in z:
    print(i)

for i in z:
    print(i)

1
4
9

In [ ]:
li = [1, 2, 3]
z = reversed(li)

for i in z:
    print(i)

for i in z:
    print(i)

3
2
1

In [ ]:
li = [1, 2, 3]
z = filter(lambda x:x>1, li)

for i in z:
    print(i)

for i in z:
    print(i)

In [ ]:
# 계속 순회가 가능하게 설계가 되어 있습니다.
# 이런 설계를 뒤에서 우리가 직접 해보게 될 것입니다.
li = [1, 2, 3]
z = sorted(li)

for i in z:
    print(i)

for i in z:
    print(i)

## 조건문

* if, elif, else, continue, break

In [ ]:
x = 2
if x > 1  and x < 10:
	print('Hello')

Hello

In [ ]:
if True:
    print('hello')

hello

In [ ]:
if 12309:
    print('hello')

hello

In [ ]:
def f():
    return False # True와 False로 바꿔보세요.

if f():
    print('hello')
    print('one')
print('two')

two

In [ ]:
if '': # [], {}, ''는 모두 False 취급합니다.
    print('hello')
    print('one')
print('two')

two

In [ ]:
if ' ': # 공백이 있는 것입니다.
    print('hello')
    print('one')
print('two')

hello
one
two

In [ ]:
if [            ]: # 안에 아이템 없음
    print('hello')
    print('one')
print('two')

In [ ]:
if [,]: # SyntaxError
    print('hello')
    print('one')
print('two')

In [ ]:
if [10,
    20,
    30, # 마지막 콤마는 허락합니다! 소괄호, 중괄호, 대괄호에 공백은 병합니다.
    ]:
    print('hello')
    print('one')
print('two')

In [ ]:
if None:
    print('false')

In [ ]:
class int(int):
    def __eq__(self, next):
        return True

# 10 > 11
int('10') == int('11')

In [ ]:
if 10 > 11:
    print('one')
    print('two')
print('three')
else: # error
    print('four')

SyntaxError: ignored

In [ ]:
if 10 > 11:
    print('one')
    print('two')
else: # error
    print('three')

three

In [ ]:
# else가 없어도 되는 경우
def f():
    if 10>11:
        return 'one'
    return 'two'

print(f())

two

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x> 5:
    if type(x) == int:
        print('one')

if x > 5 and type(x) == int:
    print('one')

In [ ]:
# 여러개의 if문을 단축할 수 있는 방법 =>
# 가독성이 좋아지는 것을 선택하세요! 정답은 없습니다.
# and 구문으로 if를 합칠 수 있습니다.
x = 10
if x> 5:
    if type(x) == int:
        if x % 2 == 0:
            print('one')

if x > 5 and type(x) == int and x % 2 == 0:
    print('one')

In [ ]:
if True:
    print('hello')
else:
    print('hello')
else: # error
    print('hello')
else:
    print('hello')

In [ ]:
if True:
    print('hello')
if True:
    print('hello')
if True:
    print('hello')
else:
    print('hello')

In [ ]:
if True:
    print('hello')
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
elif True:
    print('hello')
elif True:
    print('hello')
else:
    print('hello')

In [ ]:
score = 81
money = 0

if score >= 90: # 만약에 조건이 참이라면
    print('mom : i\'m so happy!')
    money += 1000000
elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
    print('mom : i\'m happy!')
    money += 100000
elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
    print('mom : i\'m so...!')
    money += 10000
elif score >= 60:
    print('mom : i\'m so...!')
    money += 1000
else:
    print('mom : i\'m...!')
print(money)
# if, elif, else 구문은 함께 썼다면 한 덩어리가 되어
# 하나만 실행이 되고 나머지는 실행이 되지 않습니다.

mom : i'm happy!
100000

In [ ]:
# 커맨드 m m 누르면 코드블록이 마크다운 블록으로
# 커맨드 m y 누르면 마크다운이 코드블록으로

## if 심화

In [ ]:
# 저는 개인적으로 해당 무법이 가독성을 떨어트린다고 생각해
# 권장하진 않습니다.
if 10 > 5: print('hello') # 1줄에 사용하는 것이 가능합니다.

hello

In [ ]:
if 10 > 5: print('hello')
elif 1 > 6: print('world')
else: print('hello world')

In [ ]:
# 3항 연산자는 가독성을 해치지 않는 선에서 많이 사용합니다.
print('one') if 5 > 1 else print('two')

one

In [ ]:
(print('one') if 5 > 1 else print('two'))

In [ ]:
# error 이렇게 사용하지 않습니다!
if 5 > 1 print('one') else print('two')

In [ ]:
if 5>1:
    print('one')
else:
    print('two')

In [ ]:
# 할당이나 return에서 많이 사용합니다
# 할당이나 return을 할 때 어떤 조건을 달고 싶을 때
# 그런데 일반 if문과 else문 거창하다고 생각이 되었을 때
y = 100
x = 'one' if y > 80 else None

In [ ]:
x

'one'

In [ ]:
def f(y):
    if y > 80:
        x = 'one'
    else:
        x = None
    return x 

print(f(100))
print(f(30))

'one'

In [ ]:
def f(y):
    return 'one' if y > 80 else None

print(f(100))
print(f(30))

one
None

In [ ]:
# 이해를 위해 만든 예제이지 효율적이진 않습니다.
def custom_sum(x):
    return sum(x) if len(list(filter(lambda x : type(x) == int, l))) == len(x) else float('inf')


custom_sum([1,2,3,4,5,6]) # 다 더한 값 21
custom_sum([1,2,3,4,'5',6]) # float('inf')

inf

In [ ]:
l = [1,2,3,'4', '5']
list(filter(lambda x : type(x) == int, l))
len(list(filter(lambda x : type(x) == int, l)))
len(l)

5

In [ ]:
# 문제 : 다음 if 문을 3항 연산자로 표현해주세요.
if x % 2 == 0:
    홀짝여부 = '짝수'
else:
    홀짝여부 = '홀수'

x = 10
홀짝여부 = '짝수' if x % 2 == 0 else '홀수'

NameError: ignored

In [ ]:
# 지금하는 것은 위보다 빈도가 적습니다.
# 3항 연산자의 중첩
# '조건1이 True일 때' if '조건1' else '조건1일 False이고 조건2가 True일 때' if '조건2' else '조건1, 조건2가 False일 때'

In [ ]:
'조건1이 True일 때' 
if '조건1' 
else '조건1일 False이고 조건2가 True일 때' 
    if '조건2' 
    else '조건1, 조건2가 False일 때'

SyntaxError: ignored

In [ ]:
x = 15
if x % 2 == 0:
    배수 = '2X' # 2의 배수
elif x % 3 == 0:
    배수 = '3X' # 3의 배수
else:
    배수 = '?' # 2의 배수도 아니고 3의 배수도 아니다

In [ ]:
x = 15
배수 = '2X' if x% 2 == 0 else '3X' if x% 3 == 0 else '?'
배수

'3X'

## 반복문

In [ ]:
# for 변수 in 순회가능한객체:
#     code

In [ ]:
# 순회가능한객체 != 시퀀스형자료형 #순서가 없어도 순회가 가능하기 때문에

In [ ]:
for i in 'hello world':
    print(i)

h
e
l
l
o

w
o
r
l
d

In [ ]:
for i in 10:
    print(i)

TypeError: ignored

In [ ]:
for i in 10.1:
    print(i)

TypeError: ignored

In [ ]:
for i in [1, 2, 3]:
    print(i)

1
2
3

In [ ]:
for i in (1, 2, 3):
    print(i)

1
2
3

In [ ]:
for i in {1, 2, 3}:
    print(i)

1
2
3

In [ ]:
for i in {'one':1, 'two': 2, 'tree': 3}:
    print(i)

one
two
tree

In [ ]:
# 변수에는 range, enumerate, zip, map, sorted, reversed
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
언어순위 = ['python', 'javascript', 'java', 'ruby']
for i in 언어순위:
    print(i)

python
javascript
java
ruby

In [ ]:
언어순위 = ['python', 'javascript', 'java', 'ruby']
for i in enumerate(언어순위):
    print(i)

(0, 'python')
(1, 'javascript')
(2, 'java')
(3, 'ruby')

In [ ]:
언어순위 = ['python', 'javascript', 'java', 'ruby']
for i in enumerate(언어순위, 1):
    print(i)

(1, 'python')
(2, 'javascript')
(3, 'java')
(4, 'ruby')

In [ ]:
언어순위 = ['python', 'javascript', 'java', 'ruby']
for i, j in enumerate(언어순위, 101):
    print(i, j)

101 python
102 javascript
103 java
104 ruby

## !! 오늘 배운 것 정리
* 조건문
    * 조건에 따라 코드를 분기할 수 있는 구문
    * if, elif, else
    * elif와 else는 단독으로 사용이 되지 않습니다.
    * 예시(score에 값을 변경해보면서 money 값을 확인해주세요.)
    ```python
    score = 81
    money = 0

    if score >= 90: # 만약에 조건이 참이라면
        print('mom : i\'m so happy!')
        money += 1000000
    elif score >= 80: # 그렇지 않고 만약에 조건이 참이라면
        print('mom : i\'m happy!')
        money += 100000
    elif score >= 70: # '그렇지 않고 만약에'에서 '그렇지 않고'가 만족이 안되기 때문에 실행하지 못합니다.
        print('mom : i\'m so...!')
        money += 10000
    elif score >= 60:
        print('mom : i\'m so...!')
        money += 1000
    else:
        print('mom : i\'m...!')
    print(money)
    ```
    * 3항 연산자
    ```python
    def f(y):
    return 'one' if y > 80 else None
    ```
* 정해진 순서를(next) 반복하는 것
    * 형태
    ```python
    # for 변수 in 순회가능한객체:
    #     code
    ```
    * 순회 가능한 객체(이터러블 객체) : 문자열, 리스트, 튜플, 딕셔너리, 셋, range, enumerate, map, set, sorted, reverse 등
    * 순회 불가능한 객체 : int, float 등 
    * code 안에서 변수를 사용하지 않을 경우 언더바를 관습적으로 사용합니다.
    ```python
    # for _ in 순회가능한객체:
    #     code
    ```

## args, kargs

## lambda

## 데코레이터

## 클로저, 팩토리 함수

## 제너레이터와 이터레이터